<ion-header #pageHeader>
  <ion-navbar>
    <ion-buttons left>
      <button (tap)="dismiss()" color='danger' ion-button icon-only clear>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="squadSettings.editMode" left class="squard-number-container">
      <button *ngIf = "canShowSquadButton(5)" no-padding class="squard-number-btn circle five" (tap)="selectSquadNumber($event,5)" [ngClass]="{selected:selectedSquad==5}">
        <span>5</span>
      </button>
      <button *ngIf = "canShowSquadButton(7)" no-padding class="squard-number-btn circle seven" (tap)="selectSquadNumber($event,7)" [ngClass]="{selected:selectedSquad==7}">
        <span>7</span>
      </button>
      <button *ngIf = "canShowSquadButton(11)" no-padding class="squard-number-btn circle eleven" (tap)="selectSquadNumber($event,11)" [ngClass]="{selected:selectedSquad==11}">
        <span>11</span>
      </button>
      <button *ngIf="!teamMode" no-padding class="squard-number-btn circle" (tap) = "selectSquads()">
        <span>C</span>
      </button>
    </ion-buttons>
    <ion-buttons right class="squad-operate">
      <button class="operate-btn" *ngIf="squadSettings.editMode" color="primary" ion-button icon-only clear (tap)="saveSquad()">
         <ion-icon name="md-cloud-upload"></ion-icon>
      </button>
       <sb-share-button class="operate-btn" *ngIf="teamMode"></sb-share-button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <page-squad ion-fixed [settings]="squadSettings" style="width: 100%; height: 100%" #squadCtrl></page-squad>
  <div *ngIf = "teamMode" ion-fixed class="squad-selected">
    <div class="squard-info-panel">
    </div>
    <div class="frame-panel">
    </div>
    <span class="frame-panel-text">{{currentSquadForm}}</span>
  </div>

</ion-content>
