page-squad {
    .playerItem {
        width: 48px;
    height: 48px;
    position: absolute;
    }
.playerImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.playerName {
    color: white;
}

// .board {
//     min-height: 80%;
//     max-height: 80%;
//     height: 80%;
// }
}