page-squad {
    // background: white;
    // width: 100%;
    // height: 100%;
    // background-image: url('../assets/img/soccer-field-background.jpg');
    //background: url('../assets/img/soccer-field-background.jpg');
    .playerItem {
        width: 48px;
    height: 48px;
    position: absolute;
    }
.playerImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.playerName {
    color: white;
}
}