page-squad {
     background-image: url('../assets/img/soccer-field-background.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
    .playerItem {
        width: 48px;
    height: 48px;
    position: absolute;
    }
.playerImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.playerName {
    color: white;
}
}