<ion-header>
  <ion-navbar>
    <ion-title>{{'Players' | trans}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="list-header">
    <div class="player-label">{{'Player' | trans}}</div>
    <div class="player-option">{{'Settings' | trans}}</div>
    <div class="player-role">{{'Role' | trans}}</div>
  </div>

  <ion-list class="player-list">
    <ion-item *ngFor="let player of players" class="player-item" (click) = "goPlayerPage(player.id)">
      <ion-row class="player-item-row">
        <ion-avatar item-start class="player-avatar-wrapper">
        <img [src] = "player.photo" class="player-avatar"/>
        </ion-avatar>
        <ion-col class="player-name">
          <div class="name-text">{{ player.name }}</div>
          <div class="position" *ngIf = "isSetPosition(player.position)">{{ toUpperCase(player.position)}}</div>
        </ion-col>
        <ion-col class="player-operation flex-center">
          <button *ngIf = "canShowSettings(player.id)" color="lightGrey" ion-button icon-only full clear (click)="popupManageMenu($event, player)">
            <ion-icon name="md-settings"></ion-icon>
          </button>
        </ion-col>
        <ion-col class="player-team-role flex-center" [ngClass]="player.teamRole">{{player.teamRole | trans}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf = "canShowInvite()">
  <button (click) = "invitePlayer()" class="footer-button">
    <div class="wrapper">
    <div class="recruit-players">{{'recruitplayers' | trans}}</div>
    <div class="invite-code">{{'code' | trans}} {{invitationCode}}</div>
    </div>
  </button>
</ion-footer>
