<!--<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only clear>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center class="default-font-size">
      评价
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only clear>
        <ion-icon name="nothing"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->
<!--<button ion-button full clear class="tip-string">刚结束一场比赛，请对你的队友进行评分</button>-->
<ion-list no-lines class="list-start-evalute">
  <ion-item *ngFor="let p of players" class="item-evalute">
    <img [src]="p.player?.photo" class="img-evalute" item-left>
    <div>
      <button ion-button clear class="member-name">{{p?.player?.name}}</button>
      <div class="star-touch-back">
        <div class="star-back" *ngFor="let item of p.starArray">
          <ion-icon name="{{item.src}}" class="star-icon" isActive="true"></ion-icon>
        </div>
        <div class="touch-back" (pan)="panStar(p,$event)" (click)="clickStar(p,$event)"></div>
      </div>
    </div>
    <button ion-button clear color="{{getRatingColor(p.rating)}}" class="evalute-string" item-right>
        {{getRatingString(p.rating)}}
      </button>
  </ion-item>
</ion-list>
