<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only clear>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center class="default-font-size">
      评价
    </ion-title>

    <!--begin 此按钮无显示目的 为使标题居中设置-->
    <ion-buttons right>
      <button ion-button icon-only clear>
        <ion-icon name="nothing"></ion-icon>
      </button>
    </ion-buttons>
    <!--end 此按钮无显示目的 为使标题居中设置-->
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-list no-lines class="content-list">
    <!--中间的对战时间-->
    <button ion-button clear color="light" class="content-center-button">
<!--      <img src="assets/icon/icon_time.png" style="width: 20px;height: 15px;">-->
      5-15 星期天 09:20
    </button>
    <!--对战信息-->
    <ion-row class="fight-team-info">
      <!--左边队伍信息-->
      <ion-col class="fight-team-info-left">
        <img src="assets/img/icon1.jpg" class="team-left-img">
        <p class="team-left-text">阿根廷男子足球国家队</p>
      </ion-col>
      <!--中间比分-->
      <ion-col width-25 class="fight-score">
        <ion-row class="no-margin no-padding">
          <ion-col class="left-number">
            <div class="back-top"></div>
            <div class="back-bottom"></div>
            <div class="top-score">4</div>
          </ion-col>
          <ion-col class="center-compare">
            :
          </ion-col>
          <ion-col class="right-number">
            <div class="back-top"></div>
            <div class="back-bottom"></div>
            <div class="top-score">1</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--右边队伍信息-->
      <ion-col class="fight-team-info-right">
        <img src="assets/img/icon1.jpg" class="team-right-img">
        <p class="team-right-text">墨西哥男子足球国家队</p>
      </ion-col>
    </ion-row>
  </ion-list>

  <!--刚结束一场比赛，请对你的队友进行评分-->
  <button ion-button full clear class="tip-string">刚结束一场比赛，请对你的队友进行评分</button>

  <!--球员列表 开始评分-->
  <ion-list no-lines class="list-start-evalute">
    <ion-item *ngFor="let member of memberlist" class="item-evalute">
      <img src="assets/img/icon1.jpg" class="img-evalute" item-left>
      <div>
        <button ion-button clear class="member-name">{{member.name}}</button>
        <div class="star-touch-back">
          <div class="star-back" *ngFor="let item of member.starArray">
            <ion-icon name="{{item.src}}" class="star-icon" isActive="true"></ion-icon>
          </div>
          <div class="touch-back"(pan)="panStar(member,$event)" (click)="clickStar(member,$event)"></div>
        </div>
      </div>
      <button ion-button clear color="{{member.evaluteColor}}" class="evalute-string" item-right>
        {{member.evaluteString}}
      </button>
    </ion-item>
  </ion-list>

  <ion-row class="row-back">
    <ion-col>
      <button ion-button full class="cancel-button" (click)="openCancel()">取消</button>
    </ion-col>
    <ion-col>
      <button ion-button full class="ensure-button" (click)="openEnsure()">确定</button>
    </ion-col>
  </ion-row>
</ion-content>
