.header_container{
   .header_title{
     background: #96BF32;
     color: white;
     .img{
       max-width: 3rem;
     }
   }
}


#body_container{

  .banner_table{


    .png{
      width: 40%;
    }
  }
}


.footer-container{
  background: #999999;
  color:white;
  a{
    color:white;
  }
}

.banner-img {
  width: 100%;
  height: auto;
}

// .banner-area {
//   max-width: 768px;
// }