.header_container{
   .header_title{
     background: #96BF32;
     padding: 10px;
     color: white;
     .img{
       max-width: 3rem;
     }
   }
}


#body_container{

  .banner_table{


    .png{
      width: 40%;
    }
    .ios-png{

    }

    .android-png{

    }
  }
}


.footer-container{
  background: #999999;
  color:white;
  a{
    color:white;
  }
}
