<ion-header>
  <ion-navbar>
    <ion-title>{{'NewMatch' | trans}}</ion-title>
    <ion-buttons left>
      <button (click)="close()" color='danger' ion-button icon-only clear>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button [disabled]="!(match.home && match.away &&  match.type && matchDate && matchTime && match.location.address)" (click)="scheduleMatch()"
        color="primary" ion-button icon-only clear>
         <ion-icon name="md-cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="team-info" center>
    <ion-col class="team-flag" (tap)="searchTeam(1)">
      <button ion-button icon-start clear full style="margin:0px;padding:0px;" color="light">
        <ion-icon name="md-flag" color="danger"></ion-icon>
        {{'HomeTeam' | trans}}
      </button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col class="team-flag" (tap)="searchTeam(2)">
      <button ion-button icon-start clear full style="margin:0px;padding:0px;" color="light">
        <ion-icon name="md-flag" color="primary"></ion-icon>
        {{'AwayTeam' | trans}}
        </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="match?.home || match?.away" class="team-info" center>
    <ion-col class="team-name" (tap)="searchTeam(1)">{{match?.home?.name}}</ion-col>
    <ion-col class="vs-text">VS</ion-col>
    <ion-col class="team-name" (tap)="searchTeam(2)">{{match?.away?.name}}</ion-col>
  </ion-row>

  <ion-list no-lines class="content-game-info">
    <ion-item-divider *ngIf='groupId'> {{'group' | trans}} {{groupId}}</ion-item-divider>
    <ion-item class="game-info-item">
      <button ion-button clear full class="game-info-item-start" item-start>{{'Type' | trans}}</button>
      <div class="game-info-item-end" item-end>
        <ion-select style="max-width: 100%;" text-center [ngModel]="match.type" (ngModelChange)="match.type=toNumber($event)">
          <ion-option value="5">5 v 5</ion-option>
          <ion-option value="7">7 v 7</ion-option>
          <ion-option value="11">11 v 11</ion-option>
        </ion-select>
      </div>
    </ion-item>

    <ion-item class="game-info-item">
      <button ion-button clear full class="game-info-item-start" item-start>{{'Date' | trans}}</button>
      <div class="game-info-item-end" item-end>
        <ion-datetime text-center displayFormat="YYYY-MM-DD" [min]="minDate" [(ngModel)]="matchDate"></ion-datetime>
      </div>
    </ion-item>

    <ion-item class="game-info-item-light">
      <button ion-button clear full class="game-info-item-start" item-start>{{'Time' | trans}}</button>
      <div class="game-info-item-end-gray" item-end>
        <ion-datetime text-center displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="matchTime"></ion-datetime>
      </div>
    </ion-item>

    <ion-item class="game-info-item-light">
      <button ion-button clear full class="game-info-item-start" item-start>{{'Location' | trans}}</button>
      <div class="game-info-item-end-gray" item-end text-center>
        <ion-input class="google-location" type="search" [ngModel]="match.location.name" (input)="searchAddress($event)">
        </ion-input>
      </div>
    </ion-item>
    <ion-item-group [hidden]="autoCompleteItems.length == 0" style="width: 70%; float: right">
      <button ion-item *ngFor="let item of autoCompleteItems" (click)="selectAddress(item)" color="white" style="font-size: 1.2rem" detail-none>{{ item.description }}</button>
      <ion-item color="white" style="text-align: right">
        <img style="width: 40%" src="assets/img/powered_by_google.png">
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
