page-match-detail {
  // $selected-date-color: #585F6F;
  //     $unselected-date-color: #40444D;
  $darker-background: #2D2E32;
  $lighter-backgroud: #425065;
  $header-bar-color:#585F6F;
  $player-stats-darker-background:#373e4c;
  //$player-stats-lighter-background;
  $player-stats-lighter-background:color($colors,primary);
  $player-stats-darker-font:#93abc5;


  ion-content {

    //全局共享属性
    .inline-flex-center{
      display: inline-flex;
      justify-content: center;
    }

    .inline-flex-vertical-center{
      display: inline-flex;
      align-items: center;
    }
    .text-nowrap{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .flex-direction-column{
      display: flex;
      flex-direction: column;
    }

    //比赛菜单
    .match-detail-menu{
      .menu-col{
          p{
            margin:0;
            padding: 5px;
          }
          .button-inner{
            flex-direction: column;
          }
      }
      //.menu-col:active{
      //  background-color: #00A000;
      //}
      .team-name{
        .team-logo{
          max-width: 3rem;
          border-radius: 50%;
          margin: 0 auto;
        }
      }

      .opponent{
        .opponent-logo{
          max-width: 3rem;
          border-radius: 50%;
          margin: 0 auto;
        }
      }

      .group-message{
        ion-icon{
          font-size: 3rem;
        }
      }
      .group-message:active{
        background-color: rgb(38,38,39);
      }
    }


    //给整个内容区调整背景及边距
    .content-all {
      height: 100%;
      width: 100%;
      //padding: 15px 10px 15px 10px;
      background-color: #1f1f21;
      //数据显示区域
      .content-list {
        margin: 0px;
        background: #1f1f21;
        text-align: center;

        .match-detail-info {
          margin: 1rem;

          //公用
          ion-item{
            background-color: #333335;
            padding: 5px;
            font-size: 1.4rem;
            display: flex;
            .item-inner {
              padding: 0;
              border-bottom: 1px solid #434343;
            }
            ion-label {
              display: flex;
              margin: 0;
            }
          }

          .common-title{

            .common-icon{
              flex:0 0 5%;
              max-width: 5%;
            }
            .common-content{
              white-space: initial;
              flex: 0 0 95%;
              max-width: 95%;
              padding-left: 1rem;
            }

          }
          //具体比赛时间栏目
          .time-title {
            .time-icon{
            }
            .time-content {
            }
          }
          //地图--标题
          .map-title {
            background-color: #333335;
            .map-icon{
            }
            .map-content {
            }
          }
          .clothes-title{
            .clothes-icon{
            }
            .clothes-content{
            }
          }
          .clothes-title .item-inner{
            border-bottom:none;
          }
        }

        //报名情况
        .registration-info{
          margin:1rem;
          ion-col{
            border: 1px solid #434343;
            background-color: #333335;
          }
          .common-sub-label{
            font-size: 1rem;
            color:#969696;
          }
          .number-absent{
            color:#f4c20d;
          }
          .number-register{
            color:#AFE76C;
          }


        }

        //居中对战时间按钮
        .content-center-button {
          margin-top: 10px;
          height: 30px;
          border-radius: 15px;
          background-color: #2e3138;
          text-align: center;
          opacity: 1;
        }
        //对战信息
        .fight-team-info {
          background-color: #40444d;
          //width: 100%;
          //左边战队信息
          .team-logo {
            width: 70px !important;
            height: 70px !important;
            border-radius: 5% !important;
          }
          //比分部分
          .fight-score {
            font-size: 3.0rem;
            color: white;
            text-align: center;
            //width: 20%;
          }
        }

        //红牌
        .red-style {
          text-align: center;
          background: #2d2e32;
          .center-img {
            width: 10px;
            height: 15px;
          }
        }
        //黄牌
        .yellow-style {
          text-align: center;
          background: #40444d;
          .center-img {
            width: 10px;
            height: 15px;
          }
        }

      }

      //报名详细栏目
      .registration-detail{
        margin: 0;
        ion-item-divider{
          padding: 1rem;
          font-size: 1.4rem;
          .item-inner{
            background-color: #333335;
            ion-label{
              margin: 0;
            }
          }
        }
        .common-row{
          padding: 1rem;
          font-size: 1.4rem;
         .common-row-content{
           padding: 0 1.5rem;
           display: flex;
           justify-content: space-between;
         }
        }
        .common-individuals{

        }
        .participants-row{
          .participants-row-content{
            .one{
              color:#AFE76C;
            }

          }

        }
        .participants-individuals{

        }
        .absents-row{
          .absents-row-content{
            .one{
              color:#f4c20d;
            }

          }
        }
        .absents-individuals{

        }
        .pending-row{

        }
        .pending-individuals{

        }
      }

      //按钮组
      .match-detail-button-group{
        button{
          min-height: 3.5rem;
          color: #1f1f21;
        }
        .pending-col{
          flex:1;
          button{
            background-color: #ccc;
            ion-icon{
            }
          }
        }
        .absent-col{
          flex:1;
          button{
            background-color: #f4c20d;
            ion-icon{
            }
          }
        }
        .participate-col{
          flex:1.5;
          button{
            width: 100%;
            background-color: #AFE76C;
            ion-icon{
            }
          }
        }
      }

      //地图
      .map-back {
        padding: 0px 10px 10px 10px;
        height: 200px;
        width: 100%;
        background-color: #2d2e32;
        position: relative;
        //地图控件
        .map {
          width: 100%;
          height: 100%;
          position: relative;
        }
        //右下角背景
        .map-right-bottom-back {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          background-color: #a0a0a0;
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
        //车背景
        .map-car-back {
          width: 30px;
          height: 18px;
          position: absolute;
          right: 30px;
          bottom: 45px;
          .map-car {
            width: 100%;
            height: 100%;
          }
        }
        //到这里
        .map-to-here {
          width: 50px;
          height: 25px;
          text-align: center;
          position: absolute;
          right: 20px;
          bottom: 20px;
          //文字 到这里
          .map-to-here-text {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  //通用
  .no-margin {
    margin: 0px;
  }
  .no-padding {
    padding: 0px;
  }
  .default-back-color {
    background-color: #40444d;
  }
  .default-font-size {
    font-size: 1.2rem;
  }

  .matches-date-tab-col {
        .date-tab-list {
          ion-item {
            padding-left: 0;
            min-height: 2.8rem;
            .item-inner {
              padding-right: 0;
              border-bottom: 1px solid $darker-background;
              ion-label {
                font-size: 1rem;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .year {
                  min-height: 1.4rem;
                  background-color: $darker-background;
                  color: #E1C61E;
                }
                .date-inner {
                  min-height: 2.8rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  white-space: initial;
                  max-width: 100%;
                  padding: 1.2rem 0rem 1.2rem 0rem;
                }
              }
            }
          }
          ion-item::before {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            right: -9px;
            border-style: solid;
            border-width: 15px 15px 15px 15px;
            border-color: transparent transparent transparent transparent;
            z-index: 0;
          }
          .ion-item-selected::before {
            border-color: transparent $darker-background transparent transparent;
          }
          .ion-item-changeYear::before {
            top: 1.4rem;
          }
        }
      }

  .left-scrollview {
        width: 20%;
        height: 100%;
        left: 0;
        right: 0;
        overflow-y: scroll;
        position: fixed;
        background: $darker-background;
      }
  .right-scrollview {
    width: 80%;
    height: 100%;
    left: 20%;
    overflow-y: scroll;
    position: fixed;
    background: $darker-background;

    .right-view-grid{
      padding: 0px;
    }
    .header-title{
      background: $header-bar-color;
    }
    .flex-width-30{
      flex:0 0 30%;
      max-width: 30%;
    }
    .playerStats{
      ion-col{
        background-color: $lighter-backgroud;
        display: flex;
        max-height: 4rem;
        ion-avatar{
          min-height: 25px;
          min-width: 25px;
          img{
            max-width: 25px;
            max-height: 25px;
            margin-right: 0;
            border-radius: 50%;

          }
        }
        ion-item{
          padding-left:0;
          background-color: $lighter-backgroud;
          min-height: 1.8rem;
          max-height: 3rem;
          .item-inner{
            padding-right: 0;
            border-bottom: none;
            ion-label{
              margin: 0;
              font-size: 1.2rem;
            }
          }

        }
      }

      .rank{
        align-items: center;
      }
    }
  }

.avatar-top {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin: auto;
  }
}
}
