<ion-header #pageHeader>
  <ion-toolbar>
    <ion-buttons left>
      <button (click)="dismiss()" color='danger' ion-button icon-only clear>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment [ngModel]="matchSegments" (ngModelChange)="segmentChange($event)" mode="md">
      <ion-segment-button value="info">
        {{'Info' | trans}}
      </ion-segment-button>
      <ion-segment-button *ngIf='canShowSquadSegment()' value="squad">
        {{'squad' | trans}}
      </ion-segment-button>
      <ion-segment-button *ngIf='canShowPlayersSegment()' value="players">
        {{'Players' | trans}}
      </ion-segment-button>
    </ion-segment>
    <ion-buttons right>
      <button *ngIf='canShowEdit()' color='primaryYellow' (click)="edit()" ion-button icon-only clear>
          <ion-icon name="md-create"></ion-icon>
      </button>
      <sb-share-button></sb-share-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="matchSegments" style="width: 100%; height: 100%" no-bounce>
<div class="content-all" *ngSwitchCase="'info'" style="width: 100%; height: 100%">
<ion-list no-lines class="content-list" center>
  <!--中间的对战时间-->
  <button disabled ion-button clear color="light" class="content-center-button">
<!--        <img src="assets/icon/icon_time.png" style="width: 20px;height: 15px;">-->
        {{match?.time | date:'yyyy-MM-dd h:mma'}}
      </button>
  <!--对战信息-->
  <ion-row class="fight-team-info" center>
    <!--左边队伍信息-->
    <ion-col width-33>
      <img [src]="match?.home?.logo" class="team-logo">
      <!--p class="team-left-text">{{match?.home?.name}}</p-->
    </ion-col>
    <!--中间比分-->
    <ion-col width-33 class="fight-score">
      <ion-row center>
        <ion-col>
          {{match?.homeScore}}
        </ion-col>
        <ion-col>
          :
        </ion-col>
        <ion-col>
          {{match?.awayScore}}
        </ion-col>
      </ion-row>
    </ion-col>
    <!--右边队伍信息-->
    <ion-col width-33>
      <img [src]="match?.away?.logo" class="team-logo">
      <!--p class="team-right-text">{{match?.away?.name}}</p-->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33>{{match?.home?.name}}</ion-col>
    <ion-col width-33></ion-col>
    <ion-col width-33>{{match?.away?.name}}</ion-col>
  </ion-row>

  <a [href]="geo">
    <ion-item class="map-title">
      <ion-icon name="navigate" color="iPrimary"></ion-icon>
      {{match?.location?.name}}
      <p>{{match?.location?.address}}</p>
    </ion-item>
  </a>
  <!--<p><a href="geo:1.393618,103.74255900000003">Location 50/10</a></p>
  <p><a href="geo:Vienna">Location Vienna</a></p>
  <p><a href="geo:?z=5&q=New+York">Zoom 5, Search for New York</a></p>
  <p><a href="geo:?q=1.393618,103.74255900000003">my home</a></p>
  <p><a href="google.navigation:q=San+Francisco">Navigation to San Francisco</a></p>
  <p><a href="google.navigation:q=50,10">Navigation to 50/10</a></p>
  <p><a href="http://maps.google.com/maps?saddr=New+York&daddr=San+Francisco">Route New YorkSan Francisco</a></p>
  <p><a href="http://maps.google.com/maps?saddr=50,10&daddr=50,20">Route 50/10 50/20</a></p>-->
</ion-list>
</div>

<div class="content-all" *ngSwitchCase="'squad'">
  <page-squad #squadCtrl [settings]="squadSettings" style="width: 100%; height: 100%"></page-squad>
</div>

<div class="content-all" *ngSwitchCase="'players'">
  <div class="left-scrollview matches-date-tab-col">
    <ion-list class="date-tab-list">
      <ion-item *ngFor="let cat of statCategories;let i = index;" #list_item [id]="'matches-scroll-target-'+i" (click)='showStat(cat)'
        [style.background]="selectedCat === cat ? '#585F6F' : '#40444D'" [style.color]="selectedCat === cat ? '#00ef00' : '#F2EDE7'">
        <div class="date-inner">
          {{cat | trans}}
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div class="right-scrollview matches-match-info-col" *ngIf='selectedStats'>
    <ion-grid>
      <ion-row>
        <ion-col>{{'Player' | trans}}</ion-col>
        <ion-col>{{'Team' | trans}}</ion-col>
        <ion-col>{{'Total' | trans}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let stat of selectedStats">
        <ion-col>
          <ion-item>
            <ion-avatar item-left>
              <img [src]="stat.player?.photo" />
            </ion-avatar>
            {{stat.player?.name}}
          </ion-item>
        </ion-col>
        <ion-col>{{stat.teamName}}</ion-col>
        <ion-col>{{stat.val}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>