page-match-detail {
  .card .item {
    background: #40444d;
  }

  .card .item-redCard {
    background: #373a3c;
  }
  .card .item-field {
    background: #373a3c;
  }
  .card .item-yellowCard {
    background: #37383d;
  }
  .match-detail {
    background: #40444d;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0px;
  }

}
