<ion-header>
  <ion-navbar>
    <ion-title>{{'EditPlayer' | trans}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <!-- Basic -->
    <button ion-item (click)="changePhoto()">
      <h2>{{'Photo' | trans}}</h2>
      <ion-thumbnail item-end>
        <img [src]="player?.photo">
      </ion-thumbnail>
    </button>
    <button ion-item detail-push (click)="editName()">
      <h2>{{'Nickname' | trans}}</h2>
      <p item-end>{{ player?.name }}</p>
    </button>
    <!-- Detail -->
    <ion-item-divider></ion-item-divider>
    <button ion-item *ngIf="!isCheerleader" detail-push (click)="editHeight()">
      <h2>{{'HeightCM' | trans}}</h2>
      <p item-end>{{ player?.height }}</p>
    </button>
    <button ion-item *ngIf="!isCheerleader" detail-push (click)="editWeight()">
      <h2>{{'WeightKG' | trans}}</h2>
      <p item-end>{{ player?.weight }}</p>
    </button>
    <button ion-item *ngIf="!isCheerleader" detail-push (click)="editPosition()">
      <h2>{{'Position' | trans}}</h2>
      <p item-end>{{ player?.position | trans }}</p>
    </button>
    <button ion-item *ngIf="!isCheerleader" detail-push (click)="editFoot()">
      <h2>{{'Foot' | trans}}</h2>
      <p item-end>{{ player?.foot | trans}}</p>
    </button>
    <button ion-item detail-push (click)="editDescription()">
      <h2 item-start>{{'Description' | trans}}</h2>
      <p item-end style="margin-left: 20%">{{ player?.description }}</p>
    </button>
  </ion-item-group>
</ion-content>
