<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      <ion-select [(ngModel)]="selectedId" (ngModelChange)="onSelectionChange()">
        <ion-option *ngFor="let league of leagueBasics" [value]="league.id">{{ league.name }}</ion-option>
      </ion-select>
    </ion-title>
    <ion-buttons right>
      <button (click)="enterNewGame()" ion-button icon-only clear>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment  *ngIf="selectedId == '0'" [(ngModel)]="selectedInfo">
      <ion-segment-button value="schedule">
        Schedule
      </ion-segment-button>
    </ion-segment>

    <ion-segment *ngIf="selectedId != '0'" [(ngModel)]="selectedInfo">
      <ion-segment-button value="schedule">
        Schedule
      </ion-segment-button>
      <ion-segment-button value="standings">
        Standings
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="selectedInfo" [ngStyle]="{'height':'100%'}">
    <!-- schedule -->
    <div *ngSwitchCase="'schedule'" [ngStyle]="{'height':'100%'}">
      <div class="left-scrollview matches-date-tab-col" id="sketchElement">
        <ion-list class="date-tab-list">
          <ion-item *ngFor="let date of dates;let i = index;" #list_item [id]="'matches-scroll-target-'+i" (click)="showMatches(date)"
            [style.background]="selectedDate == date ? '#00ef00' : 'none'">
            {{date | stringToDatePipe}}
          </ion-item>
        </ion-list>
      </div>
      <div class="right-scrollview matches-match-info-col" [ngStyle]="{'top': rightViewTop+'px'}">
        <ion-item *ngFor="let match of matches; let i = index">
          <sb-match-basic [matchObj]="match"></sb-match-basic>
        </ion-item>
      </div>
    </div>
    <!-- table -->
    <div *ngSwitchCase="'standings'">
      <div class="league-stats-standing">
        <ion-grid>
          <ion-row no-margin>
            <ion-col width-50>
              <p text-center>
                <label>{{'Team' | trans}}</label>
              </p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{'P' | trans}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{'W' | trans}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{'D' | trans}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{'L' | trans}}</label></p>
            </ion-col>
            <ion-col class="data-column-broad">
              <p><label>{{'GFGA' | trans}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{'PTS' | trans}}</label></p>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let s of matchStandings; let i = index;" no-margin>
            <!--ion-col class="badge">
              <ion-badge style="position:absolute;" color="sky">1</ion-badge>
            </ion-col-->
            <ion-col width-50>
              <ion-thumbnail>
                <img src="assets/team-logo/team_logo.jpg">
              </ion-thumbnail>
              <p text-left>
                <ion-badge color="sky">{{ i+1 }}</ion-badge>
                <label>{{ s.teamId }}</label>
              </p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{s.matchesPlayed}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{s.wins}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{s.draws}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{s.losses}}</label></p>
            </ion-col>
            <ion-col class="data-column-broad">
              <p><label>{{s.goalsFor}}/{{s.goalsAgainst}}</label></p>
            </ion-col>
            <ion-col class="data-column">
              <p><label>{{s.points}}</label></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
