<ion-header #matchHeader>
  <ion-navbar>
    <ion-title>{{ title | trans }}</ion-title>
    <ion-buttons end>
      <button *ngIf = "canShowComputeTable()" ion-button icon-only (click)="computeTournamentTable()">
        <ion-icon name="md-calculator"></ion-icon>
      </button>
      <button *ngIf="canShowAdd()" ion-button icon-only (tap)="enterNewGame()">
        <ion-icon name="md-add" color="primary"></ion-icon>
      </button>
      <button *ngIf="rules" ion-button icon-only (click)="showRules()">
        <ion-icon name="md-information-circle" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="selectedId != 'all'">
    <ion-segment [ngModel]="selectedInfo" mode="md"  (ngModelChange)="onSegmentChange($event)">
      <ion-segment-button value="schedule">
        {{ 'schedule' | trans }}
      </ion-segment-button>
      <ion-segment-button value="standings">
        {{ standingTitle | trans }}
      </ion-segment-button>
      <ion-segment-button value="eliminations" [hidden]="type != 'cup'">
        {{ 'eliminations' | trans }}
      </ion-segment-button>
      <ion-segment-button *ngIf='canShowPlayersSegment()' value="players">
        {{'Players' | trans}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content #matchContent no-bounce>

  <!-->
  <ion-fab top right edge>
    <button ion-fab mini (tap)="enterNewGame()"><ion-icon color="dark" name="md-add"></ion-icon></button>
  </ion-fab>
  <-->
    <div [ngSwitch]="selectedInfo" [ngStyle]="{'height':'100%'}">
      <!-- schedule -->
      <div *ngSwitchCase="'schedule'" [ngStyle]="{'height':'100%'}">
        <div class="left-scrollview matches-date-tab-col" id="sketchElement" [ngStyle]="{'height.px': getMatchScrollHeight()}">
          <ion-list class="date-tab-list">
            <ion-item *ngFor="let date of dates;let i = index;" #list_item [id]="'matches-scroll-target-'+i" (tap)="showMatches(date)"
              [style.background]="selectedDate == date ? '#585F6F' : '#40444D'" [style.color]="selectedDate == date ? '#00ef00' : '#F2EDE7'"
              [ngClass]="addDateSelectNgClass(i,date)">
              <ion-item *ngIf="isChangeYear(i) == true" class="year">
                -{{getYearStringFromDate(date)}}-
              </ion-item>
              <div class="date-inner">
                {{date | stringToDatePipe}}
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div class="right-scrollview matches-match-info-col" [ngStyle]="{'height.px': getMatchScrollHeight()}">
          <ion-item *ngFor="let match of matches; let i = index" class="ionitem">
            <sb-match-basic [matchObj]="match"></sb-match-basic>
          </ion-item>
        </div>
      </div>
      <!-- table -->
      <div *ngSwitchCase="'standings'">
        <div class="league-stats-standing" [ngStyle]="{'height.px': getContentHeight()}">
          <ion-grid>
            <ion-row no-margin class="header-row">
              <ion-col width-50>
                <!--<p text-center>-->
                  <!--<label>{{'Team' | trans}}</label>-->
                <!--</p>-->
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{'P' | trans}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{'W' | trans}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{'D' | trans}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{'L' | trans}}</label></p>
              </ion-col>
              <ion-col class="data-column-broad">
                <p><label>{{'GFGA' | trans}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{'PTS' | trans}}</label></p>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let s of matchStandings; let i = index;" no-margin class="ranking-content">
              <ion-col width-50>
                <ion-badge class="ranking-badge" color="sky">{{ i+1 }}</ion-badge>
                <ion-thumbnail>
                  <img [src]="s?.team?.logo">
                </ion-thumbnail>
                <p text-left>
                  <label>{{ s?.team?.name }}</label>
                </p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{s.P}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{s.W}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{s.D}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{s.L}}</label></p>
              </ion-col>
              <ion-col class="data-column-broad">
                <p><label>{{s.GS}}/{{s.GA}}</label></p>
              </ion-col>
              <ion-col class="data-column">
                <p><label>{{s.PTS}}</label></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div class="content-all" *ngSwitchCase="'players'">
        <no-record *ngIf="null === tournament" message="{{'searchMatchPageNoRecord' | trans}}"></no-record>
        <div *ngIf="null !== tournament">
          <div class="left-scrollview player-left-scrollview matches-date-tab-col" [ngStyle]="{'height.px': getMatchDetailScrollHeight()}">
            <ion-list class="date-tab-list">
              <ion-item *ngFor="let cat of statCategories;let i = index;" #list_item [id]="'matches-scroll-target-'+i" (tap)='showStat(cat)'
                        [style.background]="selectedCat === cat ? '#20bd16' : '#373e4c'" [style.color]="selectedCat === cat ? '#ffffff' : '#93ABC5'">
                <div class="date-inner">
                  {{cat | trans}}
                </div>
              </ion-item>
            </ion-list>
          </div>

          <div class="right-scrollview player-right-scrollview matches-match-info-col" *ngIf='selectedStats' [ngStyle]="{'height.px': getMatchDetailScrollHeight()}">
            <ion-grid class="right-view-grid">
              <ion-row class="header-title">
                <ion-col width-20></ion-col>
                <ion-col width-30 class="flex-width-30">{{'Player' | trans}}</ion-col>
                <ion-col width-20 text-center>{{'total' | trans}}</ion-col>
                <ion-col width-30 class="flex-width-30">{{'Team' | trans}}</ion-col>
              </ion-row>
              <ion-row *ngFor="let stat of selectedStats;let i=index" class="playerStats">
                <ion-col width-20 class="rank flex-center">
                  <ion-label no-margin>{{i+1}}</ion-label>
                  <ion-avatar item-start>
                    <img [src]="stat.player?.photo" />
                  </ion-avatar>
                </ion-col>
                <ion-col width-30 no-margin class="flex-width-30">
                  <ion-item>
                    {{stat.player?.name}}
                  </ion-item>
                </ion-col>
                <ion-col width-20 class="flex-center">
                  <ion-label no-margin text-center>{{stat.val}}</ion-label>
                </ion-col>
                <ion-col width-30 class="flex-width-30">
                  <ion-label no-margin>{{stat.team?.name}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>

      <!-- elimination -->
      <div *ngSwitchCase="'eliminations'">
        <div style="overflow-y: scroll" [ngStyle]="{'height.px': getContentHeight()}">
          <sb-cup-team *ngIf="eliminations.length > 0" [matchPairs]="eliminationPairs" [title]="getSelectedNextName()"></sb-cup-team>
          <!--sb-cup-team *ngIf="eliminations.length > 0" [matchIds]="getSelectedMatches()" [title]="getSelectedName()"></sb-cup-team-->
        </div>
      </div>
    </div>
</ion-content>

<ion-footer #matchFooter [hidden]="type != 'cup'">
  <!-- standings -->
  <ion-segment  *ngIf="selectedInfo == 'standings' && tournament && tournament.groups"
  [ngModel]="selectedGroup" (ngModelChange)="onSelectedGroupChange($event)" mode="md">
    <ion-segment-button *ngFor="let g of tournament.groups" [value]="g">
      {{'group' | trans}} {{g}}
    </ion-segment-button>
  </ion-segment>

  <!-- eliminations -->
  <ion-segment [(ngModel)]="selectedElimination" mode="md" *ngIf="selectedInfo == 'eliminations'" (ngModelChange)="onEliminationChange($event)">
    <ion-segment-button *ngFor="let e of eliminations; let i = index" [value]="i">
      {{ getEliminationTitle(e.name) }}
    </ion-segment-button>
  </ion-segment>
</ion-footer>
