<ion-header>
  <ion-navbar>
    <ion-title>
      {{ user?.name }}
    </ion-title>
    <ion-buttons right *ngIf="!isSystem">
      <button clear ion-button color="danger" (click)="onReport()">
        {{'report' | trans}}
      </button>
      <button *ngIf="!isBlocking" clear ion-button color="lightGrey" (click)="block()">
        {{'block' | trans}}
      </button>
      <button *ngIf="isBlocking" clear ion-button color="primary" (click)="unblock()">
        {{'unblock' | trans}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-refresher color="lightGrey" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines class="chat-container" no-margin>

    <!--<div *ngIf="!hasChatsMessage" class="no-message-wrapper">-->
    <!--<div class="no-message">-->
    <!--No message...-->
    <!--</div>-->
    <!--</div>-->
    <no-record *ngIf="!isSystem && isBlocking && !isBlocked" [message]="blockingMessage"></no-record>
    <no-record *ngIf="!isSystem && isBlocked" [message]="blockedMessage"></no-record>

    <no-record *ngIf="!hasChatsMessage && !isBlocking && !isBlocked" [message]="hasNoChatsMessage"></no-record>
    <div *ngIf="!isBlocking && !isBlocked">
      <div *ngFor="let chat of chats; let i = index;">
        <!-- time -->
        <ion-item *ngIf="shouldShowTime(i)" class="chat-room-time-item">
          <label>{{ getDisplayTime(i) }}</label>
        </ion-item>

        <!-- system -->
        <div *ngIf="isSystem">
          <ion-item class="chat-room-msg-item" [ngClass]="['chat-room-msg-item-admin']">
            <div class="msg-box center">
              {{ getSystemChatContent(chat) }}
              <p *ngIf="chat.action" class="system-msg" (tap)="onSystemClick(chat.action)"><u>{{ getActionName(chat.action?.type) }}</u></p>
            </div>
          </ion-item>
        </div>

        <!-- other -->
        <div *ngIf="!isSystem">
          <ion-item *ngIf="!isFromSelf(chat)" class="chat-room-msg-item">
            <div *ngIf="chat.senderId">
              <div class="chat-room-avatar-div">
                <ion-thumbnail item-start>
                  <img [src]=" getPlayerInfo(chat.senderId)?.photo">
                </ion-thumbnail>
              </div>
              <p>{{ getPlayerInfo(chat.senderId)?.name }}</p>
            </div>
            <div class="msg-box left">
              {{ chat.content }}
            </div>
          </ion-item>

          <!-- self -->
          <ion-item *ngIf="isFromSelf(chat)" class="chat-room-msg-item">
            <div class="msg-box right">
              {{ chat.content }}
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<!--ion-footer class="chat-room-footer">
  <ion-toolbar>
    <ion-buttons right>
      <button class="send-button">
        Send
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer-->

<!-- [keyboardAttach]="content" -->
<ion-footer class="chat-room-footer" *ngIf="!isSystem && !isBlocked">
  <ion-toolbar text-center>
    <input #input type="text" class="text-input" [(ngModel)]="newMessage">
    <ion-buttons right>
      <button *ngIf="newMessage?.trim()" ion-button class="send-button" (tap)="sendMessage(input)">
        {{ 'Send' | trans }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
