page-jixiang-prototype{

  .my-player-header-card {
    position: relative;
    min-height: 10rem;
    width: 100%;

    .my-player-avatar {
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 50%;
      height: 8rem;
      width: 8rem;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      /* position: relative; */
      border: 1px solid rgba(255, 255, 255, 0.3);

      box-sizing: border-box;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;

      .avatar-img {
        border-radius: 50%;
        position: absolute;
        /* bottom: 50%; */
        left: 50%;
        max-width: 7rem;
        opacity: 1;
        /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); */
        /* border: 2px solid rgba(255, 255, 255, 0.5); */
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        margin-top: 0.45rem;
      }
    }
  }


  .my-player-avatar-inside{
    border-radius: 50%;
    position: absolute;
    /* bottom: 50%; */
    left: 50%;
    max-width: 100px;
    opacity: 1;
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); */
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

  }
}
