page-jixiang-prototype{


  .my-player-header-card {
    position: relative;
    min-height: 15rem;
    width: 100%;

    .overlay{
      background: #158 url(../../assets/img/forTest/messi_sample.jpg) center no-repeat;
      background-size: cover;
      height: calc(100% + 40px);
      min-height: inherit;
      position: relative;
      width: calc(100% + 40px);

      -webkit-filter: brightness(40%);
      filter: brightness(40%);

      transition: all .5s;
      -moz-transition: all .5s; /* Firefox 4 */
      -webkit-transition: all .5s; /* Safari and Chrome */
      -o-transition: all .5s; /* Opera */
    }

    //.overlay:after{
    //  content: '\A';
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  top:0;
    //  left:0;
    //  background:rgba(0,0,0,0.6);
    //  opacity: 1;
    //  transition: opacity 0.5s;
    //  -webkit-transition: opacity 0.5s;
    //  -moz-transition: opacity 0.5s;
    //}

    .overlay:hover{
      -webkit-filter: none;
      filter: none;
    }

    .my-player-avatar {
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 50%;
      height: 8rem;
      width: 8rem;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      /* position: relative; */
      border: 1px solid rgba(255, 255, 255, 0.3);

      box-sizing: border-box;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;

      .avatar-img {
        border-radius: 50%;
        position: absolute;
        /* bottom: 50%; */
        left: 50%;
        max-width: 7rem;
        opacity: 1;
        /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); */
        /* border: 2px solid rgba(255, 255, 255, 0.5); */
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        box-sizing: border-box;
        transition: all .5s;
        -moz-transition: all .5s; /* Firefox 4 */
        -webkit-transition: all .5s; /* Safari and Chrome */
        -o-transition: all .5s; /* Opera */
        margin-top: 0.45rem;
      }

      .avatar-img:hover{
        -webkit-filter: none;
        filter: none;
      }
    }

    .my-player-avatar:hover{
      -webkit-filter: none;
      filter: none;
      margin-top: 23px;
    }
  }


  .my-player-avatar-inside{
    border-radius: 50%;
    position: absolute;
    /* bottom: 50%; */
    left: 50%;
    max-width: 100px;
    opacity: 1;
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); */
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;

  }
}
