page-lu-prototype{
  .personal-data-title{
    background: #171717;
    font-size: 1.7em;
    color: #ababab;
  }
  .personal-data-header{
    background-image: url("/../../assets/img/my-player/bg3@3x.png");
    font-size: 1.3em;
    color: #ababab;
  }
  .main-font{
    font-size: 1.3em;
    color: #ababab;
  }
  .personal-data{
    background: #41444d;
    font-size: 1.5em;
    color: #ffffff;
    font-weight:bold;
  }
  .separate{
    height: 2px;
    color: #171717;
  }
  .win-rate{
    //background-image: url("/../../assets/img/my-player/bg4@3x.png");
    //min-height: 30px;
    .progressbar{
      position: relative;
    }


    .pro {
      //width: 9rem;
      position: relative;
    }
    .progressTxt {
      text-align: center;
      color: #f8f8f8;
      font-size: 1.3em;
      padding: 1rem 0rem;
    }
    .position {
      float: left;
    }
    round-progress svg circle{
      stroke: rgb(160, 160, 160);
    }
    round-progress svg path{
      stroke: rgb(0, 255, 0);
    }

    @keyframes toggle {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .text {
      color: #fff;
      font-size: 1.3em;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      margin: 0 auto;
      top:5.2rem;
    }
    .centerText {
      color: #fff;
      font-size: 0.65rem;
      text-align: center;
      left: 0;
      right: 0;
      position: absolute;
      bottom: -1.75rem;
    }
    .centerText:last-child {
      bottom: -3.25rem;
    }
  }
  .light-grey{
    background-color: #2d2e32;
  }
  //
  .feedHead{
    width: 100%;
  }
  .feedHead .firstPic {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  .feedHead .rose {
    padding: .75rem 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-size: 2rem;
  }
  .feedBack {
    background: #1a1a1d;
    width: 100%;
  }
  .totalText {
    padding: .9rem 0 1.25rem 0;
  }
  .totalFeedBack {
    padding: 0 .6rem 1.1rem .6rem;
  }
  .feedBack .like {
    width: 1.1rem;
    margin-top: -.25rem;
    background: url(../../assets/img/my-player/deflike.png) no-repeat;
    background-size: contain;
    height: 1rem;
  }
  .feedBack .likes {
    width: 1.1rem;
    margin-top: -.25rem;
    background: url(../../assets/img/my-player/like.png) no-repeat;
    background-size: contain;
    height: 1rem;
  }
  .redPrg {
    width: 32rem;
    margin-left:1.1rem;
  }
  .redStrip {
    width: 32rem;
    height: .25rem;
    border-radius: 4px;
    background-color: #fa3b40;
  }
  .bluePrg {
    width: 16.8rem;
    margin-left: .15rem;
  }
  .blueStrip {
    width: 16.8rem;
    height: .25rem;
    border-radius: 4px;
    background-color: #339adb;
  }
  .redPrg .stripText {
    font-size: .7rem;
    color: #fa3b40;
    display: block;
    padding-top: .2rem;
  }
  .blueText {
    font-size: .7rem;
    color: #339adb;
    text-align: right;
    display: block;
    padding-top: .2rem;
  }
  .feedBack .unLike {
    width: 1.1rem;
    margin-top: -.25rem;
    background: url(../../assets/img/my-player/defunlike.png) no-repeat;
    background-size: contain;
    height: 1rem;
  }
  .feedBack .unLikes {
    width: 1.1rem;
    margin-top: -.25rem;
    background: url(../../assets/img/my-player/unlike.png) no-repeat;
    background-size: contain;
    height: 1rem;
  }
  //setone
  .setOne {
    width: 100%;
  }
  .setOne .TabbedPanelsTab {
    background: #dbffdb;
    float: left;
    //width: 3.675rem;
    font-size: .6rem;
    text-align: center;
    padding: .425rem 1.5rem;
    outline: none !important;
    border-radius: 2rem;
    list-style-type: none;
    margin:2rem  0.5rem 2rem 0.5rem;
  }
  .setOne .TabbedPanelsTab h4 {
    color: #333333;
    margin:1rem 0;
  }
  .setOne .TabbedPanelsTabSelected {
    background: #00ff00 !important;
  }
  .setOne .setOneRight {
    width: 8rem;
    position: absolute;
    top: 1rem;
    right: .2rem;
  }
  .setOne .btn {
    width: 100%;
    background: #0d0d0f;
    border-radius: 50%;
    height: 8rem;
    color: #fcdb14;
    font-size: .6rem;
  }
  .setOne .btn .pic {
    width: 5rem;
    display: block;
    margin: 0 auto;
    font-size: 3rem;
  }
  .setOne .TabbedPanelsTabGroup {
    padding: .625rem 2% .625rem 2%;
    //width: 96%;
    background: #2c2d31;
  }
  .setOne .myTab {
    //width: 4.2rem !important;
    //margin: 0rem .6rem;
  }
  .setOne .booSet {
    padding: 1rem 0rem;
    margin-bottom: .2rem;
    background: #1a1a1d;
  }
  .setOne .ballRight {
    color: #ababab;
    font-size: 1.5rem;
    padding-top: .2rem;
  }
  .setOne .ballpic {
    width: 3rem;
  }
  .setOne .ballLeft {
    margin-top: 0.75rem;
    margin-left: 1rem;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1.475rem;
  }
  .setOne .ball {
    margin-bottom: .9rem;
  }
  .setOne .booSet p {
    color: #ffffff;
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: .74rem;
  }
  .setOne .like {
    background: url(../../assets/img/my-player/defunlike.png) no-repeat;
    width: 1.4rem;
    height: 1.3rem;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: .5rem;
    vertical-align: middle;
  }
  .setOne .unlike {
    background: url(../../assets/img/my-player/deflike.png) no-repeat;
    background-size: 100% 100%;
  }
  .setOne .mainLike {
    color: #dedede;
    font-size: 1.5rem;
    width: 3.45rem;
    border-radius: 15px;
    border: 1px solid #bdbdbe;
    text-align: center;
    padding: 0.4rem 1.5rem;
    margin-left: .425rem;
    text-decoration: none;
  }
  .setOne .activeLike {
    color: #00ff00 !important;
    border: 1px solid #00ff00 !important;
  }
  .setOne .alike {
    background: url(../../assets/img/my-player/arrowgreenup.png) no-repeat;
    background-size: 100% 100%;
  }
  .setOne .changlike {
    background: url(../../assets/img/my-player/arrowgreedown.png) no-repeat;
    background-size: 100% 100%;
  }
  .setOne .mainLikez {
    color: #dedede;
    font-size: 1.5rem;
    width: 3.45rem;
    border-radius: 15px;
    border: 1px solid #bdbdbe;
    text-align: center;
    padding: 0.4rem 1.5rem;
    margin-left: .425rem;
    text-decoration: none;
  }
  .setOne .tabMain{
    position: relative;
  }
  /* setOne end*/


  //basic
  .wrapper{
    width:96%;
    margin:0 auto;
  }
  .fl{
    float:left;
  }
  .fr{
    float:right;
  }

  .clearfloat{zoom:1;}
  .clearfloat:after{
    display:block;
    clear:both;
    content:"";
    overflow:hidden;
    height:0;
  }

}


