page-lu-prototype{
  .personal-data-title{
    background: #171717;
    font-size: 1.7em;
    color: #ababab;
  }
  .personal-data-header{
    background-image: url("/../../assets/img/my-player/bg3@3x.png");
    font-size: 1.3em;
    color: #ababab;
  }
  .personal-data{
    background: #41444d;
    font-size: 1.5em;
    color: #ffffff;
    font-weight:bold;
  }
  .separate{
    height: 2px;
    color: #171717;
  }
}
