page-my-player{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font-family:'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1.2;


  ion-header{

    .toolbar-background-md{
      border-color: #b2b2b2;
      background: linear-gradient(to bottom, #444, #000);
    }
    .back-button{
      color: #fff;
    }
    .my-player-btn-right{
      color: #fff;
    }


    .toolbar-content {
      position: relative;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      .toolbar-title-md{
        color: #fff !important;
      }
    }

  }

  .prototype-spliter{
    background-color: #00ef00 ;
  }

 .fl {
    float: left;
  }
  .fr{
    float:right;
  }

  .clearfloat{
    zoom:1;
  }

  .clearfloat:after{
    display: block;
    clear: both;
    content: "";
    overflow: hidden;
    height: 0;
  }

  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-start{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flex-end{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .invisible{
    visibility: hidden;
  }

  .my-player-header-card {
    position: relative;
    width: 100%;

    .banner{
      width: 100%;
      position: relative;
      img{
        width: 100%;
        display: block;
      }

      .banner-info{
        position: absolute;
        bottom: 1.4rem;
        width: 76.5%;
        padding: 0rem 2.66%;



        .info-pop{
          width: 21.43%;
          .pop-number{
            background-color: #444343;
            h3{
              color: #fff;
              text-align: center;
              padding: 0.3rem 0rem;
              font-size: 1.7rem;
            }
          }

          .pop-label{
            background-color: #fa3b40;
            padding: 0.2rem 0.3rem;
            zoom: 1;
            .label-fire{
              //display: inline-block;
              width: 1.2rem;
              //margin: 0.15rem 0rem;
            }
            .label-word{
              color: #fff;
              font-size: 1.2rem;
            }
          }


        }

        .info-name{
          color: #ffffff;
          bottom: 0;
          position: absolute;
          right: 0;
          max-width: 70%;
          font-size: 1.7rem;
        }
      }
    }


    .player{
      background-color: #171717;
      position: relative;
      border-bottom: 1px solid #737373;
      h1{
        text-align: center;
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 100 !important;
        padding: 0.5rem 0rem;
        .player-position{
          color: #00ff00;
        }
        .player-at{
          color: #757575;
        }

        .player-team-name{
          color:#fff;
        }
      }

      .player-logo{
        width: 6rem;
        position: absolute;
        right: 0.8rem;
        bottom: 0.6rem;
        border: 1px solid #cccccc;
        img{
          width: 100%;
          display: block;
        }
      }

      .company-logo{
        position: absolute;
        width:33.33%;
        max-width: 10rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        img{
          width: 100%;
          display: block;
        }
        h4{
          color: #858585;
          font-size: 1.2rem;
          width: 100%;
          text-align: center;
          margin: 0;
          position: absolute;
          top: 0;
        }
      }
    }


    .player-statistics{
      background-color: #171717;

      .block{
        background-color: #25262b;
        width: 33.33%;
        text-align: center;
        float: left;
        margin-left: 0.2rem;
        height: auto;
        .txt{
          margin: 1rem;
        }
        .data{
          color: #fff;
          font-size: 2.3rem;
          line-height: 5rem;
          min-width: 4rem;
        }

        .unit{
          color: #fff;
          .unit-first{
            font-size: 1em;
          }
          .unit-second{
            color: #a7a8ac;
            font-size: 0.8em;
          }
        }

        h1{
          color: #fff;
          font-size: 2.5rem;
          line-height: 3rem;
        }
        h2{
          color: #fff;
          font-size: 1.8rem;
          margin: 0.6rem 0rem 0.6rem 0.2rem;

          span{
            font-size: 1.75rem;
          }
          span:last-child{
            color: #b0b0b0;
            display: block;
            font-size: 1.65rem;
          }
        }
      }
      .height{
        border-bottom: 4px solid #00ffac;
        margin-left: 0;
      }

      .weight{
        border-bottom: 4px solid #01c5ff;
      }

      .foot{
        border-bottom: 4px solid #fcdb14;
      }
    }




  }



  //lu start
  .personal-data-title{
    background: #171717;
    font-size: 1.7rem;
    color: #ababab;
  }
  .personal-data-header{
    background-image: url("/../../assets/img/my-player/bg3@3x.png");
    font-size: 1.3rem;
    color: #ababab;
  }
  .main-font{
    font-size: 1.3rem;
    color: #ababab;
  }
  .personal-data{
    background: #41444d;
    font-size: 1.5rem;
    color: #ffffff;
  }
  .separate{
    height: 2px;
    color: #171717;
  }
  .win-rate{
    //background-image: url("/../../assets/img/my-player/bg4@3x.png");
    //min-height: 30px;
    .progressbar{
      position: relative;
    }


    .pro {
      //width: 9rem;
      position: relative;
    }
    .progressTxt {
      text-align: center;
      color: #f8f8f8;
      font-size: 1.3rem;
      padding: 1rem 0rem;
    }
    .position {
      float: left;
    }
    round-progress svg circle{
      stroke: rgb(160, 160, 160);
    }
    round-progress svg path{
      stroke: rgb(0, 255, 0);
    }

    @keyframes toggle {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .text {
      color: #fff;
      font-size: 1.3rem;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      margin: 0 auto;
      top:5.2rem;
    }
    .centerText {
      color: #fff;
      font-size: 0.65rem;
      text-align: center;
      left: 0;
      right: 0;
      position: absolute;
      bottom: -1.75rem;
    }
    .centerText:last-child {
      bottom: -3.25rem;
    }
  }
  .light-grey{
    background-color: #2d2e32;
  }
  //
  .feedHead{
    width: 100%;
  }
  .feedHead .firstPic {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  .feedHead .rose {
    padding: .75rem 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-size: 1.5rem;
    .picText{
      color:#ababab;
    }
  }
  .feedBack {
    background: #1a1a1d;
    width: 100%;

    .totalText {
      padding: .9rem 0 1.25rem 0;
      h1,h2{
        font-size: 1.5rem;
      }
    }

    .totalFeedBack{
      padding: 0 .6rem 1.1rem .6rem;


      .like{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -.25rem;
        background: url(../../assets/icon/good@2x.png) no-repeat;
        background-size: contain;

      }

      .feed-back-bar{
        width:100%;
        .redPrg{
          padding-right: 1px;
          width: 80%;
          //margin-left: 1.1rem;

          .redStrip{
            width: 100%;
            height: 0.5rem;
            border-radius: 4px;
            background-color: #fa3b40;
          }
          .stripText{
            font-size: 1.2rem;
            color: #fa3b40;
            display: block;
            padding-top: .2rem;
          }


        }

        .bluePrg{
          padding-left: 1px;
          width: 20%;
          //margin-left: .15rem;

          .blueStrip{
            width: 100%;
            height: 0.5rem;
            border-radius: 4px;
            background-color: #339adb;
          }

          .blueText{
            font-size: 1.2rem;
            color: #339adb;
            text-align: right;
            display: block;
            padding-top: .2rem;
          }


        }
      }

      .unLike{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -.25rem;
        background: url(../../assets/icon/bed@2x.png) no-repeat;
        background-size: contain;

      }
    }
  }

  //.totalFeedBack {
  //  padding: 0 .6rem 1.1rem .6rem;
  //}
  //.feedBack .like {
  //  width: 1.1rem;
  //  margin-top: -.25rem;
  //  background: url(../../assets/img/my-player/deflike.png) no-repeat;
  //  background-size: contain;
  //  height: 1rem;
  //}
  //.feedBack .likes {
  //  width: 1.1rem;
  //  margin-top: -.25rem;
  //  background: url(../../assets/img/my-player/like.png) no-repeat;
  //  background-size: contain;
  //  height: 1rem;
  //}
  //.redPrg {
  //  width: 32rem;
  //  margin-left:1.1rem;
  //}
  //.redStrip {
  //  width: 32rem;
  //  height: .25rem;
  //  border-radius: 4px;
  //  background-color: #fa3b40;
  //}
  //.bluePrg {
  //  width: 16.8rem;
  //  margin-left: .15rem;
  //}
  //.blueStrip {
  //  width: 16.8rem;
  //  height: .25rem;
  //  border-radius: 4px;
  //  background-color: #339adb;
  //}
  //.redPrg .stripText {
  //  font-size: .7rem;
  //  color: #fa3b40;
  //  display: block;
  //  padding-top: .2rem;
  //}
  //.blueText {
  //  font-size: .7rem;
  //  color: #339adb;
  //  text-align: right;
  //  display: block;
  //  padding-top: .2rem;
  //}
  //.feedBack .unLike {
  //  width: 1.1rem;
  //  margin-top: -.25rem;
  //  background: url(../../assets/img/my-player/defunlike.png) no-repeat;
  //  background-size: contain;
  //  height: 1rem;
  //}
  //.feedBack .unLikes {
  //  width: 1.1rem;
  //  margin-top: -.25rem;
  //  background: url(../../assets/img/my-player/unlike.png) no-repeat;
  //  background-size: contain;
  //  height: 1rem;
  //}
  //setone
  .setOne {
    width: 100%;
  }
  .setOne .TabbedPanelsTab {
    background: #dbffdb;
    float: left;
    //width: 3.675rem;
    font-size: 1.2rem;
    color: #333333;
    text-align: center;
    padding: .425rem 1.5rem;
    outline: none !important;
    border-radius: 2rem;
    list-style-type: none;
    margin: 0.5rem;
  }
  .setOne .TabbedPanelsTab h4 {
    color: #333333;
    margin:1rem 0;
  }
  .setOne .TabbedPanelsTabSelected {
    background: #00ff00 !important;
  }
  .setOne .setOneRight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 4.5rem;
  }
  .setOne .btn {
    width: 4.5rem;
    background: #0d0d0f;
    border-radius: 50%;
    color: #fcdb14;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .setOne .btn .pic {
    width: 2rem;
    display: block;
    margin: 0 auto;
  }
  .setOne .TabbedPanelsTabGroup {
    padding: .625rem 2% .625rem 2%;
    //width: 96%;
    background: #2c2d31;
  }
  .setOne .myTab {
    //width: 4.2rem !important;
    //margin: 0rem .6rem;
  }
  .setOne .booSet {
    padding: 1rem 0rem;
    margin-bottom: .2rem;
    background: #1a1a1d;
  }
  .setOne .ballRight {
    color: #ababab;
    font-size: 1.5rem;
    padding-top: .2rem;
  }
  .setOne .ballpic {
    width: 3rem;
  }
  .setOne .ballLeft {
    margin-top: 0.75rem;
    margin-left: 1rem;
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 1.475rem;
  }
  .setOne .ball {
    margin-bottom: .9rem;
  }
  .setOne .booSet p {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 1.5;
    padding-bottom: .74rem;
  }
  .setOne .like {
    background: url(../../assets/img/my-player/defunlike.png) no-repeat;
    width: 1.4rem;
    height: 1.3rem;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: .5rem;
    vertical-align: middle;
  }
  .setOne .unlike {
    background: url(../../assets/img/my-player/deflike.png) no-repeat;
    background-size: 100% 100%;
  }
  .setOne .mainLike {
    color: #dedede;
    font-size: 1.5rem;
    width: 3.45rem;
    border-radius: 15px;
    border: 1px solid #bdbdbe;
    text-align: center;
    padding: 0rem 1.2rem;
    margin-left: .425rem;
    text-decoration: none;
  }
  .setOne .activeLike {
    color: #00ff00 !important;
    border: 1px solid #00ff00 !important;
  }
  .setOne .alike {
    background: url(../../assets/img/my-player/arrowgreenup.png) no-repeat;
    background-size: 100% 100%;
  }
  .setOne .changlike {
    background: url(../../assets/img/my-player/arrowgreedown.png) no-repeat;
    background-size: 100% 100%;
  }
  .setOne .mainLikez {
    color: #dedede;
    font-size: 1.5rem;
    width: 3.45rem;
    border-radius: 15px;
    border: 1px solid #bdbdbe;
    text-align: center;
    padding: 0rem 1.2rem;
    margin-left: .425rem;
    text-decoration: none;
  }
  .setOne .tabMain{
    position: relative;
  }
  /* setOne end*/


  //basic
  .wrapper{
    width:96%;
    margin:0 auto;
  }
  .fl{
    float:left;
  }
  .fr{
    float:right;
  }

  .clearfloat{zoom:1;}
  .clearfloat:after{
    display:block;
    clear:both;
    content:"";
    overflow:hidden;
    height:0;
  }
}
