<ion-header>
  <ion-navbar>
    <ion-title>{{'starcard' | trans}}</ion-title>
    <ion-buttons right>
      <button *ngIf="selfId != this.player.id" ion-button icon-only (click) = "enterChatPage()">
        <ion-icon name="md-chatbubbles" color="primary"></ion-icon>
      </button>
      <sb-share-button *ngIf="selfId == this.player.id"></sb-share-button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card no-margin class="my-player-header-card">
    <div class="banner">
      <img src="assets/img/forTest/messi_banner.png">
      <div class="banner-info clearfloat">
        <div class="fl info-pop">
          <div class="pop-number">
            <h3 no-margin>{{player?.popularity}}</h3>
          </div>
        
            <div class="pop-label clearfloat">
            <ion-icon class="label-fire icon icon-md ion-md-flame" name="md-flame" role="img" aria-label="flame" ng-reflect-name="md-flame"></ion-icon>
            </div>

        </div>
        <h1 class="fr info-name">{{player?.name}}</h1>
           <div class="player-logo">
        <img [src]="player?.photo">
      </div>
      </div>
    </div>

    <div class="player">
      <h1><span class="player-position">{{player?.position | trans}}</span><span class="player-at">@</span><span class="player-team-name">{{team?.name}}</span></h1>
    </div>

      <ion-row class="player-statistics clearfloat">
        <div class="company-logo">
          <img src="assets/img/forTest/box.png">
          <h4 no-margin>SoccerBro</h4>
        </div>
      <ion-col no-padding class="block height">
        <div class="flex-center txt height-inner">
          <ion-col no-padding width-50 class="fl flex-end data">{{player?.height}}</ion-col>
          <ion-col width-50 class="fl unit">
            <ion-row class="unit-first flex-start">CM</ion-row>
            <ion-row class="unit-second flex-start">{{'Height' | trans}}</ion-row>
          </ion-col>
        </div>
      </ion-col>
      <ion-col no-padding class="block weight">
        <div class="flex-center txt weight-inner">
          <ion-col no-padding width-50 class="fl flex-end data">{{player?.weight}}</ion-col>
          <ion-col width-50 class="fl unit">
            <ion-row class="unit-first flex-start">KG</ion-row>
            <ion-row class="unit-second flex-start">{{'Weight' | trans}}</ion-row>
          </ion-col>
        </div>
      </ion-col>
      <ion-col no-padding class="block foot">
        <div class="flex-center txt foot-inner">
          <ion-col no-padding width-33 class="fl flex-end data">{{player?.foot | trans}}</ion-col>
          <ion-col width-66 class="fl unit">
            <ion-row class="unit-first flex-start invisible"> </ion-row>
            <ion-row class="unit-second flex-start">{{'Foot' | trans}}</ion-row>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-grid>
    <!--<ion-row class="personal-data-title">
      <ion-col class="subtitle">职业数据</ion-col>
    </ion-row>
    <hr class="separate" no-margin>
    <ion-row>
      <ion-col width-25 text-center class="personal-data-header">总进球</ion-col>
      <ion-col width-25 text-center class="personal-data">102</ion-col>
      <ion-col width-25 text-center class="personal-data-header">总助攻</ion-col>
      <ion-col width-25 text-center class="personal-data">78</ion-col>
    </ion-row>
    <hr class="separate" no-margin>
    <ion-row>
      <ion-col width-25 text-center class="personal-data-header">场均进球</ion-col>
      <ion-col width-25 text-center class="personal-data">54</ion-col>
      <ion-col width-25 text-center class="personal-data-header">场均助攻</ion-col>
      <ion-col width-25 text-center class="personal-data">65</ion-col>
    </ion-row>
    <hr class="separate" no-margin>
    <ion-row>
      <ion-col width-25 text-center class="personal-data-header">出勤率</ion-col>
      <ion-col width-25 text-center class="personal-data">100%</ion-col>
      <ion-col width-25 text-center class="personal-data-header">全场最佳</ion-col>
      <ion-col width-25 text-center class="personal-data">23</ion-col>
    </ion-row>
    <hr class="separate" no-margin>
    <ion-row>
      <ion-col width-25 text-center class="personal-data-header">出场胜率</ion-col>
      <ion-col width-25 text-center class="personal-data">95%</ion-col>
      <ion-col width-25 text-center class="personal-data-header">未出场胜率</ion-col>
      <ion-col width-25 text-center class="personal-data">91%</ion-col>
    </ion-row>
    <hr class="separate" no-margin>
  </ion-grid>
    
  <ion-grid class="win-rate">

    <ion-row>
      <ion-col width-50 class="align-center"><h4 class="progressTxt">出席比赛胜率</h4></ion-col>
      <ion-col width-50 class="align-center"><h4 class="progressTxt">未出席比赛胜率</h4></ion-col>
    </ion-row>

    <ion-row class="win-progress">
    <ion-col width-50 class="col-35">
    <div class="winning-circle">
        <sb-rate-circle  [rate]="80"></sb-rate-circle>
    </div>
    </ion-col>
    <ion-col class="absolute-center-txt">胜率</ion-col>
    <ion-col width-50 class="col-35">
      <div class="winning-circle">
        <sb-rate-circle  [rate]="80"></sb-rate-circle>
    </div>
    </ion-col>
    </ion-row>

    <ion-row class="goal-rate">
      <ion-col width-50 class="flex-center">0.0</ion-col>
      <ion-col class="main-font absolute-center-txt">进球率</ion-col>
      <ion-col width-50 text-center class="flex-center">0.0</ion-col>
    </ion-row>
    <ion-row class="loss-rate">
     <ion-col width-50 class="flex-center">0.0</ion-col>
      <ion-col class="main-font absolute-center-txt">失球率</ion-col>
     <ion-col width-50 text-center class="flex-center">0.0</ion-col>
    </ion-row>
      
    <hr class="separate" no-margin>
      
    <ion-row class="records">
      <ion-col width-50 class="flex-center">最佳纪录</ion-col>
      <ion-col width-50 class="flex-center">最差纪录</ion-col>
    </ion-row>
      
    <ion-row class="records-value">
      <ion-col width-50 class="flex-center best">98.69</ion-col>
      <ion-col width-50 class="flex-center worse">无评分</ion-col>
    </ion-row>
      
    <ion-row class="match-time">
      <ion-col width-50 class="flex-center best-time">2016年12月3日</ion-col>
      <ion-col width-50 class="flex-center worst-time">2016年12月03日</ion-col>
    </ion-row>
    <ion-row class="match-duel">
      <ion-col  width-50 class="flex-center best-duel">巴塞罗那0-0皇家马德里</ion-col>
      <ion-col width-50 class="flex-center worst-duel">巴塞罗那0-0皇家马德里</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="personal-data-title">
      <ion-col class="subtitle">赛季记录</ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-16.6 text-center class="personal-data-header">总进球</ion-col>
      <ion-col width-16.6 text-center class="personal-data-header">参赛</ion-col>
      <ion-col width-16.6 text-center class="personal-data-header">进球</ion-col>
      <ion-col width-16.6 text-center class="personal-data-header">助攻</ion-col>
      <ion-col width-16.6 text-center class="personal-data-header">最佳</ion-col>
      <ion-col width-16.6 text-center class="personal-data-header">评分</ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-16.6 text-center class="personal-data">56</ion-col>
      <ion-col width-16.6 text-center class="personal-data">1032</ion-col>
      <ion-col width-16.6 text-center class="personal-data">432</ion-col>
      <ion-col width-16.6 text-center class="personal-data">564</ion-col>
      <ion-col width-16.6 text-center class="personal-data">647</ion-col>
      <ion-col width-16.6 text-center class="personal-data">99.99</ion-col>
    </ion-row>-->
    <ion-row class="personal-data-title">
      <ion-col class="subtitle">{{'vote' | trans}}</ion-col>
    </ion-row>
    <ion-row class="light-grey">
      <div class="feedHead">
        <div class="wrapper">
          <div class="rose"><span class="firstPic"><img src="assets/img/my-player/flowerrose.png"></span><span
            class="picText">{{'charm' | trans}}</span>
          </div>
        </div>
      </div>
    </ion-row>
    <ion-row class="personal-data-title">
      <div class="feedBack">
        <div class="wrapper">
          <div class="clearfloat totalText">
            <h1 class="fl" style="margin: 0">{{'Ilikehim' | trans}}</h1>
            <h2 class="fr">{{'Idislikehim' | trans}}</h2>
          </div>
          <ion-row class="clearfloat totalFeedBack">

            <ion-col width-10 class="feed-back-like">
              <div class="like fl">
                <img src="assets/icon/good@2x.png" (click) = "likeHim()">
              </div>
            </ion-col>
            <ion-col width-80 class="feed-back-bar fl">
              <div [ngStyle]="{'width':PercentOfLikes.toString()+'%'}" class="redPrg fl">
                <div class="redStrip"></div>
                <span class="stripText">{{getNumber('like', true)}}</span>
              </div>
              <div [ngStyle]="{'width':PercentOfUnLikes.toString()+'%'}" class="bluePrg fl">
                <div class="blueStrip"></div>
                <span class="blueText">{{getNumber('like', false)}}</span>
              </div>
            </ion-col>
            <ion-col width-10 class="feed-back-unlike">
              <div class="unLike fr">
                <img src="assets/icon/bed@2x.png" (click) = "dislikeHim()">
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-row>
    <ion-row class="light-grey">
      <div class="feedHead">
        <div class="wrapper">
          <div class="rose"><span class="firstPic"><img src="assets/img/my-player/football.png"></span><span
            class="picText">{{'skill' | trans}}</span>
          </div>
        </div>
      </div>
    </ion-row>
    <ion-row class="personal-data-title">
      <div class="feedBack">
        <div class="wrapper">
          <div class="clearfloat totalText">
            <h1 class="fl" style="margin: 0">{{'heisagoodplayer' | trans}}</h1>
            <h2 class="fr">{{'hesucks' | trans}}</h2>
          </div>
          <ion-row class="clearfloat totalFeedBack">

            <ion-col width-10 class="feed-back-like">
              <div class="like fl">
                <img src="assets/icon/good@2x.png">
              </div>
            </ion-col>
            <ion-col width-80 class="feed-back-bar fl">
              <div [ngStyle]="{'width':PercentOfLikes.toString()+'%'}" class="redPrg fl">
                <div class="redStrip"></div>
                <span class="stripText">{{NumOfLikes}}</span>
              </div>
              <div [ngStyle]="{'width':PercentOfUnLikes.toString()+'%'}" class="bluePrg fl">
                <div class="blueStrip"></div>
                <span class="blueText">{{NumOfUnLikes}}</span>
              </div>
            </ion-col>
            <ion-col width-10 class="feed-back-unlike">
              <div class="unLike fr">
                <img src="assets/icon/bed@2x.png">
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-row>
    <ion-row class="light-grey">
      <div class="feedHead">
        <div class="wrapper">
          <div class="rose"><span class="firstPic"><img src="assets/img/my-player/footplayer.png"></span><span
            class="picText">{{'playstyle' | trans}}</span>
          </div>
        </div>
      </div>
    </ion-row>
    <ion-row class="personal-data-title">
      <div class="feedBack">
        <div class="wrapper">
          <div class="clearfloat totalText">
            <h1 class="fl" style="margin: 0">{{'heiscleanandelegant' | trans}}</h1>
            <h2 class="fr">{{'heisdirty' | trans}}</h2>
          </div>
          <ion-row class="clearfloat totalFeedBack">

            <ion-col width-10 class="feed-back-like">
              <div class="like fl">
                <img src="assets/icon/good@2x.png">
              </div>
            </ion-col>
            <ion-col width-80 class="feed-back-bar fl">
              <div [ngStyle]="{'width':PercentOfLikes.toString()+'%'}" class="redPrg fl">
                <div class="redStrip"></div>
                <span class="stripText">{{NumOfLikes}}</span>
              </div>
              <div [ngStyle]="{'width':PercentOfUnLikes.toString()+'%'}" class="bluePrg fl">
                <div class="blueStrip"></div>
                <span class="blueText">{{NumOfUnLikes}}</span>
              </div>
            </ion-col>
            <ion-col width-10 class="feed-back-unlike">
              <div class="unLike fr">
                <img src="assets/icon/bed@2x.png">
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-row>
    <ion-row class="personal-data-title">
      <ion-col class="subtitle">{{'Description' | trans}}</ion-col>
    </ion-row>
    <ion-row class="light-grey personal-data">
      <div class="description"><p>{{player?.description}}</p>
      </div>
    </ion-row>
    <ion-row class="personal-data-title">
      <ion-col class="subtitle">我要评论</ion-col>
    </ion-row>
    <ion-row>
      <div class="setOne">
        <!--setOne starts-->
        <div class="tabMain">
          <div id="TabbedPanels1" class="TabbedPanels">
            <!--tabMain start-->
            <ion-row class="TabbedPanelsTabGroup clearfloat">
              <ion-col width-80>
                <div class="TabbedPanelsTab" tabindex="0">
                  <span class="tabpic"></span>
                  <ion-label no-margin>全部(156)</ion-label>
                </div>
                <div class="TabbedPanelsTab" tabindex="0">
                  <span class="tabpic"></span>
                  <ion-label no-margin>天生射手(22)</ion-label>
                </div>
                <div class="TabbedPanelsTab" tabindex="0">
                  <span class="tabpic"></span>
                  <ion-label no-margin>差劲(1)</ion-label>
                </div>
                <div class="TabbedPanelsTab" tabindex="0">
                  <span class="tabpic"></span>
                  <ion-label no-margin>护球像亨利(10)</ion-label>
                </div>
                <div class="TabbedPanelsTab" tabindex="0">
                  <span class="tabpic"></span>
                  <ion-label no-margin>关键先生(2)</ion-label>
                </div>
                <div class="TabbedPanelsTab" tabindex="0">
                  <span class="tabpic"></span>
                  <ion-label no-margin>呆(99)</ion-label>
                </div>
              </ion-col>
              <ion-col width-20>
                <div class="setOneRight">
                  <button no-padding class="btn"><span class="pic"><img src="assets/img/my-player/yellowpic.png"></span>评论
                  </button>
                </div>
              </ion-col>
            </ion-row>


            <div class="TabbedPanelsContentGroup tabbedContents clearfloat">
              <div class="TabbedPanelsContent">
                <!--one-->
                <div class="booSet">
                  <div class="wrapper">
                    <div class="ball clearfloat">
                      <div class="ballpic fl"><img src="assets/img/my-player/ball.png">
                      </div>
                      <div class="ballLeft fl">BOO</div>
                      <div class="ballRight fr">2016-11-12</div>
                    </div>
                    <p>他是一名天生的射手，他嗅觉灵敏，射术出众，头球出色。踢得很6，喜欢~</p>
                    <div class="clearfloat">
                      <div class="fr">
                        <a href="#" class="mainLike"><img class="like" src="assets/img/my-player/defunlike.png"/>踩56</a>
                        <a href="#" class="mainLikez"><img class="like" src="assets/img/my-player/deflike.png"/>赞451</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="booSet">
                  <div class="wrapper">
                    <div class="ball clearfloat">
                      <div class="ballpic fl"><img src="assets/img/my-player/ball.png">
                      </div>
                      <div class="ballLeft fl">BOO</div>
                      <div class="ballRight fr">2016-11-12</div>
                    </div>
                    <p>他是一名天生的射手，他嗅觉灵敏，射术出众，头球出色。踢得很6，喜欢~</p>
                    <div class="clearfloat">
                      <div class="fr">
                        <a href="#" class="mainLike"><img class="like" src="assets/img/my-player/defunlike.png"/>踩56</a>
                        <a href="#" class="mainLikez"><img class="like" src="assets/img/my-player/deflike.png"/>赞451</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--tabMain ends-->

        </div>
      </div>
      <!--setOne ends-->

    </ion-row>
  </ion-grid>

</ion-content>
