page-my-player{
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  ion-header{

    .toolbar-background-md{
      border-color: #b2b2b2;
      background: linear-gradient(to bottom, #444, #000);
    }
    .back-button{
      color: #fff;
    }
    .my-player-btn-right{
      color: #fff;
    }


    .toolbar-content {
      position: relative;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      .toolbar-title-md{
        color: #fff !important;
      }
    }

  }

  .prototype-spliter{
    background-color: #00ef00 ;
  }

}
