<ion-header>
  <ion-navbar>
    <ion-title>{{'ManageTeams' | trans}}</ion-title>
    <ion-buttons right>
      <button (tap)="createTeam()" ion-button icon-only>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce >
  <div class="usage-notification-panel">
    <div class="notification-text">
      <ion-icon name="md-information" class="icon"></ion-icon>
      <span class="text-content">&nbsp;&nbsp;{{'swipeFromRightToLeft' | trans}}</span>
    </div>
  </div>
  <ion-list class="manage-team-content">
    <ion-item-sliding *ngFor="let t of teams" #slidingItem>
      <ion-item>
        <ion-thumbnail item-left>
          <img [src]="t.logo">
        </ion-thumbnail>
        <h2 ion-text [color]="player.teamId == t.id ? 'primary' : 'none'">{{ t.name }}</h2>
        <!--<ion-icon name="md-arrow-back" item-right style="opacity: 0.3"></ion-icon>-->
        <!--<span class="swipe-notification-label" item-right>{{'swipeFromRightToLeft' | trans}}</span>-->
      </ion-item>
      <ion-item-options side="right">
        <button *ngIf="player.teamId != t.id" ion-button color="primary" text-capitalize (tap)="setDefaultTeam(t.id, slidingItem)">
          {{ 'SetDefault' | trans }}
        </button>
        <button *ngIf="canShowEdit(t.id)" ion-button color="iPrimary" text-capitalize (tap)="editTeam(t.id, slidingItem)">
          {{ 'Edit' | trans }}
        </button>
        <button [disabled]="!allowToQuit(t)" ion-button color="danger" text-capitalize (tap)="quitTeam(t.id, slidingItem)">
          {{ 'Quit' | trans }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
