page-manage-team {
  ion-thumbnail[item-left] {
    min-width: 0;
    min-height: 0;
    max-height: 4rem;
    max-width: 4rem;
    img {
      max-width: 4rem;
      max-height: 4rem;
    }
  }

  .manage-team-content{

    //从右向左滑动提示
    .swipe-notification-label{
      font-size: 1.2rem;
      color:color($colors,lightGrey);
    }
  }

  .usage-notification-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: color($colors,primary);
    positon: relative;
    color: white;

    .notification-text {
      display: flex;
      align-items: center;
      font-size: 1rem;
      width: 100%;
      justify-content: center;
      //animation: fade-in .65s ease-in forwards;
      .icon{
        text-align: center;
        padding: 5px;
      }
      .text-content{
      }
    }
  }
}
