<ion-header>
  <ion-navbar>
    <ion-title>{{'ManageTeams' | trans}}</ion-title>
    <ion-buttons end>
      <button (click)="adddNewTeam()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let t of teams; let i = index;" #slidingItem>
      <ion-item>
        <ion-thumbnail item-left>
          <img [src]="(t | teamBasicPipe | async)?.logo">
        </ion-thumbnail>
        <h2 ion-text [color]="(playerBasic)?.teamId == t ? 'primary' : 'none'">{{ (t | teamBasicPipe | async)?.name }}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button *ngIf="(playerBasic)?.teamId != t" ion-button color="primary" text-capitalize (click)="setDefaultTeam(i, slidingItem)">
          Set Default
        </button>
        <button ion-button color="danger" text-capitalize (click)="quitTeam(i)">
          Quit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
