<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="stats">
      <ion-segment-button value="teams">
        {{'Teams' | trans}}
      </ion-segment-button>
      <ion-segment-button value="players">
        {{'Players' | trans}}
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="rank-stats" [ngSwitch]="stats">
    <div *ngSwitchCase="'teams'">
      <ion-item style="margin-bottom: 10px">
        <ion-label>{{'SortBy' | trans}}</ion-label>
        <ion-select [ngModel]="teamSortByStr" (ngModelChange)="sortTeamBy($event)" text-center>
          <ion-option value="ability">
            {{'Ability' | trans}}
          </ion-option>
          <ion-option value="popularity">
            {{'Popularity' | trans}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let t of teamRanks; let i = index;" style="margin-bottom:10px" text-wrap>
          <ion-thumbnail item-left>
            <img [src]="t.logo">
          </ion-thumbnail>
          <ion-badge style="position:absolute;" color="sky">{{ i+1 }}</ion-badge>
          <h2 text-center>
            {{t.name}}
          </h2>
          <ion-row>
            <ion-col width-33>
              <p text-center>
                <ion-icon name='football'></ion-icon>
                &nbsp;{{'Ability' | trans}}</p>
              <p text-center ion-text color="primary-text">{{t.ability}}</p>
            </ion-col>
            <ion-col width-33>
              <p text-center>
                <ion-icon name='people'></ion-icon>&nbsp;{{'Players' | trans}}</p>
              <p text-center ion-text color="primary-text">{{t.totalPlayers}}</p>
            </ion-col>
            <ion-col width-33>
              <p text-center>
                <ion-icon name='flame' color="danger"></ion-icon>&nbsp;{{'Popularity' | trans}}</p>
              <p text-center ion-text color="secondary">{{t.popularity}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="moreTeam($event)">
        <ion-infinite-scroll-content loadingText="Loading more teams...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div *ngSwitchCase="'players'">
      <ion-list>
        <ion-item *ngFor="let p of playerRanks; let i = index;" (click)="goPlayerPage(p.id)" style="margin-bottom:10px" text-wrap>
          <ion-avatar item-left>
            <img [src]="p.photoURL">
          </ion-avatar>
          <ion-row center>
            <ion-col>
              <h2>
                <ion-badge color="sky">{{ i+1 }}</ion-badge>
                {{p.name}}
              </h2>
            </ion-col>
            <ion-col width-20 text-center>
              {{p.position | uppercase | trans}}
            </ion-col>
            <ion-col width-25 text-center>
              <ion-icon name='ios-flame' color="danger">
                {{p.popularity}}
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="morePlayer($event)">
        <ion-infinite-scroll-content loadingText="Loading more players...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>