<ion-header>
  <ion-navbar>
    <ion-title>{{ 'leagueInfo' | trans }}</ion-title>
    <ion-buttons right>
      <sb-share-button></sb-share-button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="card-background-page">
    <ion-card>
        <div class="card-title">{{ league?.name }}</div>
    </ion-card>
  </div>
  <ion-row class="league-info-segments">
    <ion-segment no-padding [(ngModel)]="leagueInfo" mode="md">
      <ion-segment-button value="info">
        {{ 'registerRules' | trans }}
      </ion-segment-button>
      <ion-segment-button value="teams">
        {{ 'registeredTeams' | trans }}
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <div class="league-info-content" [ngSwitch]="leagueInfo">
    <div *ngSwitchCase="'info'" class="info-panel">
      <div class="content">
        {{ league?.rules }}
      </div>
      <div class="application-button">
        <button *ngIf="isRegistered() < 0" ion-button full (click)="registerTeam()">{{ 'registerNow' | trans }}</button>
        <button *ngIf="isRegistered() >= 0" disabled ion-button full>{{ 'Registered' | trans }}</button>
      </div>
    </div>
    <div *ngSwitchCase="'teams'" class="teams-panel">
      <ion-grid>
        <ion-row *ngFor="let ts of teamsGrid" text-center>
          <ion-col *ngFor="let i of ts" width-33 text-center>
            <div *ngIf="registerTeams[i]" class="team-item">
              <img class="team-logo" [src]="registerTeams[i].logo" />
              <div class="team-name">
                {{ registerTeams[i].name }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
