page-league-info {

    .league-info-slides{
        ion-slides{
           height: 12rem;
        }
    }

    .league-info-content{
        display: block;
        position: relative;
        background-color: rgb(84, 81, 121);
        min-height: 70%;
        .info-panel{
            display: flex;
            flex-direction: column;
            overflow: auto;
            position: relative;
            .content{
                margin: 0.5rem;
            }
            
            .application-button{
                z-index: 99;
                margin-bottom: auto;
                width: 100%;
                bottom:0;
             button{
                margin-bottom: auto;
                position: relative;
             }
        }
            
        }
       
       
    }
}
