 // global css
.alert-title {
  color: #fff;
}



 page-home {
   ion-header {
     ion-navbar.toolbar {
       min-height: 2rem;
       .home-title {
         display: flex;
         justify-content: center;
         .toolbar-title {
           max-width: 20rem;
         }
       }
     }
     //    .home-location-select{
     //      color: white;
     //      align-items: center;
     //      justify-content: flex-start;
     //      display: flex;
     //      h5{
     //        margin:0;
     //        font-size: 1rem;
     //        float: left;
     //        margin-right: 0.2rem;
     //      }
     //      ion-icon{
     //        font-size: 1rem;
     //        float: left;
     //      }
     //    }
   }
   .card-background-page {
     ion-card {
       position: relative;
       text-align: center;
       height: 80px;
     }
     .card-title {
       position: absolute;
       top: 36%;
       font-size: 2.0em;
       width: 100%;
       font-weight: bold;
       color: #fff;
     }
   }
   .home-menu {
     .menu-col {
       padding: 0px;
       button {
         //background-color: #222;
         box-shadow: none;
         opacity: 1;
         padding: 0px;
         margin: 0px;
         height: 3.0rem;
       }
       button:active {
         background: #222;
       }
       button:focus {
         background: #222;
       }
       button:hover {
         background: #222;
       }
     }
     /*
     .menu-col {
       //display: flex;
       //flex-direction: column;
       padding: 0px;
       .menu-block {
         background: #222;
         //width: 90%;
         height: 100%;
         text-align: center;
         margin: 0px auto;
         .menu-button {
           margin: 0px;
           box-shadow: none;
           background: transparent;
           opacity: 1;
         }
         p {
           margin-top: -5px;
           margin-bottom: 5px;
         }
       }
     }
     */
   }
   .login-button {
     //color: white;
     margin: 10% auto;
   }
   .home-block {
     .img-block {
       margin: 0px auto;
       width: 90%;
       border-radius: 3%;
     }
   }
   .home-cheerleader-block {
     .img-block {
       margin: 0px auto;
       width: 45%;
       border-radius: 3%;
     }
   }
   .home-news {
     .news-row {
       ion-label {
         margin: 0;
       }
       ion-thumbnail {
         img {
           max-width: 10rem;
           max-height: 10rem;
           width: auto;
           height: auto;
         }
       }
       ion-row {
         .news-subtitle {
           font-size: 1.2rem;
           color: #999;
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 2;
           -webkit-box-orient: vertical;
           white-space: normal;
         }
       }
       .news-operation {
         .top-col {
           display: flex;
           align-items: flex-end;
           .top-border {
             border: 1px solid #0f0;
             h5 {
               color: #0f0;
             }
           }
         }
         .comments-col {
           display: flex;
           align-items: flex-end;
           justify-content: flex-end;
           .comments-div {
             color: #999;
             font-size: 1.2rem;
             display: flex;
             align-items: center;
             justify-content: center;
             h5 {
               margin-right: 0.3rem;
               font-size: 1.2rem;
             }
             img {
               max-width: 1.2rem;
               max-height: 1.2rem;
             }
           }
         }
       }
     }
   }
   .roleIsCheerLeaderPanel {
     position: relative;
     width: 100%;
     height: calc(100% - (184px + 56px));
   }
 }
