<ion-header>
  <ion-navbar>
    <ion-title no-margin class="home-title"><img src="assets/img/home/title.png" /></ion-title>
    <!--ion-title>Build 0.1.3</ion-title-->
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-row>
    <!--ion-slides autoplay="3000" loop="true">
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image"/>
      </ion-slide>
    </ion-slides-->
    <ion-slides loop="false">
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" />
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row class="home-menu" no-padding>
    <ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (tap)="enterCheeringTeam()">
        <ion-icon name="md-flower" color="gRed"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="enterCheeringTeam()">
        <p>{{'Cheerleaders' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (tap)="enterRankPage()">
        <ion-icon name="md-podium" color="gBlue"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="enterRankPage()">
        <p>{{'Ranks' | trans}}</p>
      </button>
    </ion-col>
    <ion-col *ngIf = "selfTeam" class="menu-col"  center>
      <button ion-button icon-only full color="dark" (tap)="enterManageSquadPage()">
        <ion-icon name="md-people" color="gGreen"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="enterManageSquadPage()">
        <p>{{'squads' | trans}}</p>
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="!selfPlayer && showLogin">
    <ion-row center margin>
      <button ion-button round icon-left color="gYellow" class="login-button" (tap)="login()">
        <ion-icon name="md-log-in"></ion-icon>
        {{'Login' | trans}}
      </button>
    </ion-row>
  </div>

  <div *ngIf="selfPlayer && selfPlayer?.role != 'cheerleader'">
    <ion-row margin-left margin-right>
      <ion-col width-50 text-center>
        <h2 style="margin-bottom: 0px">{{ 'starcard' | trans }}</h2>
      </ion-col>
      <ion-col width-50 text-center *ngIf="selfTeam">
        <h2 style="margin-bottom: 0px">{{ 'Team' | trans }}</h2>
      </ion-col>
    </ion-row>
    <ion-row margin-left margin-right center>
      <ion-col width-50 class="home-block">
        <ion-thumbnail (tap)="goPlayerPage()">
          <img class="img-block" [src]="selfPlayer?.photo">
        </ion-thumbnail>
      </ion-col>
      <ion-col width-50 class="home-block" *ngIf="selfTeam">
        <ion-thumbnail (tap)="goTeamPage()">
          <img class="img-block" [src]="selfTeam?.logo">
        </ion-thumbnail>
      </ion-col>
      <ion-col width-50 class="home-block" text-center *ngIf="!selfTeam && showJoinTeam">
        <button ion-button icon-left (tap)="joinTeam()">
          <ion-icon name="md-add"></ion-icon>
          {{'JoinTeam' | trans}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row margin-left margin-right>
      <ion-col text-center width-50>
        {{ selfPlayer?.name }}
      </ion-col>
      <ion-col text-center width-50 *ngIf="selfTeam">
        {{ selfTeam?.name }}
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="selfPlayer && selfPlayer?.role == 'cheerleader'">
    <ion-row text-center margin-left margin-right>
      <ion-col width-100 text-center>
        <h2 style="margin-bottom: 0px">{{ 'Cheerleader' | trans }}</h2>
      </ion-col>
    </ion-row>
    <ion-row center margin-left margin-right>
      <ion-col width-100 class="home-cheerleader-block">
        <ion-thumbnail>
          <img class="img-block" [src]="selfPlayer?.photoMedium">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row text-center margin-left margin-right>
      <ion-col width-100 text-center>
        {{ selfPlayer?.name }}
      </ion-col>
    </ion-row>
  </div>

  <!--ion-row class="home-menu">
    <ion-col (tap)="enterCheeringTeam()" class="menu-col" width-25>
      <ion-row><img src="assets/icon/home/icon-1.png"/></ion-row>
      <ion-row><p no-margin>{{'Cheerleaders' | trans}}</p></ion-row>
    </ion-col>
    <ion-col (tap)="enterGameSchedule()" class="menu-col" width-25>
      <ion-row><img src="assets/icon/home/icon-2.png"/></ion-row>
      <ion-row><p no-margin>万人赛</p></ion-row>
    </ion-col>
    <ion-col class="menu-col" (tap)="enterRankPage()" width-25>
      <ion-row><img src="assets/icon/home/icon-3.png"/></ion-row>
      <ion-row><p no-margin>{{ 'Ranks'|trans }}</p></ion-row>
    </ion-col>
    <ion-col class="menu-col" (tap)="testSquad()" width-25>
      <ion-row><img src="assets/icon/home/icon-4.png"/></ion-row>
      <ion-row><p no-margin>合作赛事</p></ion-row>
    </ion-col>
  </ion-row-->

  <!--ion-list class="home-news">
    <ion-row class="news-row" ion-item *ngFor="let item of items" (tap)="selectItems(item)">
      <ion-thumbnail item-left>
        <img src="assets/img/home/news_pic.png">
      </ion-thumbnail>
      <ion-row>
        <h2>早报: 老司机翻车了</h2>
      </ion-row>
      <ion-row>
        <div class="news-subtitle">切尔西13连胜被终结; 皇马主场轻取塞维利亚</div>
      </ion-row>
      <ion-row class="news-operation">
        <ion-col class="top-col" width-66>
          <div class="top-border">
            <h5>置顶</h5>
          </div>
        </ion-col>
        <ion-col class="comments-col" width-33>
          <div class="comments-div">
            <h5>336评论</h5><img src="assets/img/home/comments.png" /></div>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-list-->
</ion-content>
