
page-home {

  ion-header{

    ion-navbar.toolbar{
      min-height: 2.5rem;
      position: relative;
      padding: 0.8rem;

    }
    .home-location-select{
      color: white;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      h5{
        margin:0;
        font-size: 1rem;
        float: left;
        margin-right: 0.2rem;
      }
      ion-icon{
        font-size: 1rem;
        float: left;
      }
    }

    .home-title{
      width: 50%;
      height: 50%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      .toolbar-title{
        padding:0;
        color: white;
      }
    }
  }

  .card-background-page{
    ion-card {
      position: relative;
      text-align: center;
      height: 80px;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  }

}
