<ion-header>
  <ion-navbar>
    <ion-title no-margin class="home-title"><img src="assets/img/home/title.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-row *ngIf = "showLogin || showBanner">
    <ion-slides loop="true" autoplay='3000'>
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" />
      </ion-slide>
    </ion-slides>
  </ion-row>

  <result-score *ngIf="!canShowBanner() && upcomingMatch.dataReady" [upcomingMatch]="upcomingMatch" hostPageName="my-team" (click)="showMatch(upcomingMatch)"></result-score>

  <ion-row class="home-menu" no-padding style="margin-top: 2rem">
    <ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (tap)="enterCheeringTeam()">
        <ion-icon name="md-flower" color="gRed"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="enterCheeringTeam()">
        <p>{{'Cheerleaders' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (tap)="enterRankPage()">
        <ion-icon name="md-podium" color="gBlue"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="enterRankPage()">
        <p>{{'Ranks' | trans}}</p>
      </button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf = "selfTeam" class="home-menu bottom-row" no-padding>
    <ion-col *ngIf = "selfTeam" class="menu-col"  center>
      <button ion-button icon-only full color="dark" (tap)="enterManageSquadPage()">
        <ion-icon name="md-football" color="gYellow"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="enterManageSquadPage()">
        <p>{{'squads' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col"  center>
      <button ion-button icon-only full color="dark" (tap)="openTeamPlayersPage()">
        <ion-icon name="md-people" color="gGreen"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="openTeamPlayersPage()">
        <p>{{'players' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col"  center>
      <button *ngIf="upcomingMatch?.dataReady" ion-button icon-only full color="dark" (tap)="seeMoreTeamGamePlan()">
        <ion-icon name="md-calendar" color="light"></ion-icon>
      </button>
      <button ion-button full color="dark" (tap)="seeMoreTeamGamePlan()">
        <p>{{'schedule' | trans}}</p>
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="!selfPlayer && showLogin">
    <ion-row center margin>
      <button ion-button round icon-start color="gYellow" class="login-button" (tap)="login()">
        <ion-icon name="md-log-in"></ion-icon>
        {{'Login' | trans}}
      </button>
    </ion-row>
  </div>

  <div *ngIf="selfPlayer && selfPlayer?.role != 'cheerleader'">
    <ion-row margin-left margin-right>
      <ion-col width-50 text-center>
        <h2 style="margin-bottom: 0px">{{ 'starcard' | trans }}</h2>
      </ion-col>
      <ion-col width-50 text-center *ngIf="selfTeam">
        <h2 style="margin-bottom: 0px">{{ 'Team' | trans }}</h2>
      </ion-col>
    </ion-row>
    <ion-row margin-left margin-right center>
      <ion-col width-50 class="home-block">
        <ion-thumbnail (tap)="goPlayerPage()">
          <!--img-loader class="img-block" [src]="selfPlayer?.photo"></img-loader-->
          <img class="img-block" [src]="selfPlayer?.photo">
        </ion-thumbnail>
      </ion-col>
      <ion-col width-50 class="home-block" *ngIf="selfTeam">
        <ion-thumbnail (tap)="goTeamPage()">
          <img class="img-block" [src]="selfTeam?.logo">
        </ion-thumbnail>
      </ion-col>
      <ion-col width-50 class="home-block" text-center *ngIf="!selfTeam && showJoinTeam">
        <button ion-button icon-start (tap)="joinTeam()">
          <ion-icon name="md-add"></ion-icon>
          {{'JoinTeam' | trans}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row margin-left margin-right>
      <ion-col text-center width-50>
        {{ selfPlayer?.name }}
      </ion-col>
      <ion-col text-center width-50 *ngIf="selfTeam">
        {{ selfTeam?.name }}
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="selfPlayer && selfPlayer?.role == 'cheerleader'">
    <ion-row text-center margin-left margin-right>
      <ion-col width-100 text-center>
        <h2 style="margin-bottom: 0px">{{ 'Cheerleader' | trans }}</h2>
      </ion-col>
    </ion-row>
    <ion-row center margin-left margin-right>
      <ion-col width-100 class="home-cheerleader-block">
        <ion-thumbnail>
          <img class="img-block" [src]="selfPlayer?.photoMedium">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row text-center margin-left margin-right>
      <ion-col width-100 text-center>
        {{ selfPlayer?.name }}
      </ion-col>
    </ion-row>
  </div>
</ion-content>
