<ion-header>
  <ion-navbar>
    <ion-title no-margin class="home-title"><img src="assets/img/home/title.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-row class="home-menu bottom-row" no-padding>
    <ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (click)="enterRankPage()">
        <ion-icon name="md-podium" color="gBlue"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="enterRankPage()">
        <p>{{'Ranks' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col"  center *ngIf = "selfTeam">
      <button ion-button icon-only full color="dark" (click)="enterManageSquadPage()">
        <ion-icon name="md-football" color="gYellow"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="enterManageSquadPage()">
        <p>{{'squads' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col"  center *ngIf = "selfTeam">
      <button ion-button icon-only full color="dark" (click)="openTeamPlayersPage()">
        <ion-icon name="md-people" color="gGreen"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="openTeamPlayersPage()">
        <p>{{'players' | trans}}</p>
      </button>
    </ion-col>
    <ion-col class="menu-col"  center *ngIf="upcomingMatch?.dataReady && selfTeam">
      <button ion-button icon-only full color="dark" (click)="seeMoreTeamGamePlan()">
        <ion-icon name="md-calendar" color="light"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="seeMoreTeamGamePlan()">
        <p>{{'schedule' | trans}}</p>
      </button>
    </ion-col>
  </ion-row>
   <img [src]="getBannerImage()" (tap) = 'enterCheeringTeam()'>
  <ion-item-divider>{{'trainingmessage' | trans}}</ion-item-divider>
  <ion-row>
    <ion-col text-center>
       <img src="assets/img/physical.jpg" (tap) = "enterTrainingPage('physical')">
       {{'physical' | trans}}
    </ion-col>
    <ion-col text-center>
      <img src="assets/img/technique.jpg" (tap) = "enterTrainingPage('technique')">
      {{'technique' | trans}}
    </ion-col>
    <ion-col text-center>
      <img src="assets/img/tactics.jpg" (tap) = "enterTrainingPage('tactics')">
      {{'tactics' | trans}}
    </ion-col>
  </ion-row>

  <!--<ion-list>
    <button ion-item (click)="enterTrainingPage('physical')">
      <ion-thumbnail item-start>
      <img src="assets/img/physical.jpg">
    </ion-thumbnail>
    <h2>{{'physical' | trans}}</h2>
    </button>
    <button ion-item (click)="enterTrainingPage('technique')">
      <ion-thumbnail item-start>
      <img src="assets/img/technique.jpg">
    </ion-thumbnail>
    <h2>{{'technique' | trans}}</h2>
    </button>
    <button ion-item (click)="enterTrainingPage('tactics')">
      <ion-thumbnail item-start>
      <img src="assets/img/tactics.jpg">
    </ion-thumbnail>
    <h2>{{'tactics' | trans}}</h2>
    </button>
  </ion-list>-->
  <!--<ion-row *ngIf = "showLogin || showBanner">
    <ion-slides loop="true" autoplay='3000'>
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" />
      </ion-slide>
    </ion-slides>
  </ion-row>-->

  <!--<result-score *ngIf="!canShowBanner() && upcomingMatch.dataReady" [upcomingMatch]="upcomingMatch" hostPageName="my-team" (click)="showMatch(upcomingMatch)"></result-score>-->

  <!--<ion-row class="home-menu" no-padding style="margin-top: 2rem">-->
    <!--<ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (click)="enterCheeringTeam()">
        <ion-icon name="md-flower" color="gOrange"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="enterCheeringTeam()">
        <p>{{'Cheerleaders' | trans}}</p>
      </button>
    </ion-col>-->
    <!--<ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (click)="enterRankPage()">
        <ion-icon name="md-podium" color="gBlue"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="enterRankPage()">
        <p>{{'Ranks' | trans}}</p>
      </button>
    </ion-col>-->
    <!--<ion-col class="menu-col" center>
      <button ion-button icon-only full color="dark" (click)="enterTrainingPage()">
        <ion-icon name="logo-youtube" color="gRed"></ion-icon>
      </button>
      <button ion-button full color="dark" (click)="enterTrainingPage()">
        <p>{{'training' | trans}}</p>
      </button>
    </ion-col>-->
  <!--</ion-row>-->

  <div *ngIf="!selfPlayer && showLogin">
    <ion-row center margin>
      <button ion-button round icon-start color="gYellow" class="login-button" (click)="login()">
        <ion-icon name="md-log-in"></ion-icon>
        {{'Login' | trans}}
      </button>
    </ion-row>
  </div>

  <div *ngIf="selfPlayer && selfPlayer?.role != 'cheerleader'">
    <ion-row margin-left margin-right>
      <ion-col col-6 text-center>
        <h2 style="margin-bottom: 0px">{{ 'starcard' | trans }}</h2>
      </ion-col>
      <ion-col col-6 text-center *ngIf="selfTeam">
        <h2 style="margin-bottom: 0px">{{ 'Team' | trans }}</h2>
      </ion-col>
    </ion-row>
    <ion-row margin-left margin-right center>
      <ion-col col-6 class="home-block">
        <ion-thumbnail (tap)="goPlayerPage()">
          <!--img-loader class="img-block" [src]="selfPlayer?.photo"></img-loader-->
          <img class="img-block" [src]="selfPlayer?.photo">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-6 class="home-block" *ngIf="selfTeam">
        <ion-thumbnail (tap)="goTeamPage()">
          <img class="img-block" [src]="selfTeam?.logo">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-6 class="home-block join-button" text-center *ngIf="!selfTeam && showJoinTeam">
        <button ion-button icon-start (click)="joinTeam()">
          <ion-icon name="md-add"></ion-icon>
          {{'JoinTeam' | trans}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row margin-left margin-right>
      <ion-col text-center col-6>
        {{ selfPlayer?.name }}
      </ion-col>
      <ion-col text-center col-6 *ngIf="selfTeam">
        {{ selfTeam?.name }}
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="selfPlayer && selfPlayer?.role == 'cheerleader'">
    <ion-row text-center margin-left margin-right>
      <ion-col col-12 text-center>
        <h2 style="margin-bottom: 0px">{{ 'Cheerleader' | trans }}</h2>
      </ion-col>
    </ion-row>
    <ion-row center margin-left margin-right>
      <ion-col col-12 class="home-cheerleader-block">
        <ion-thumbnail>
          <img class="img-block" [src]="selfPlayer?.photoMedium">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row text-center margin-left margin-right>
      <ion-col col-12 text-center>
        {{ selfPlayer?.name }}
      </ion-col>
    </ion-row>
  </div>
</ion-content>
