page-edit-team {
  ion-thumbnail[item-end] {
    min-width: 0;
    min-height: 0;
    max-height: 6rem;
    max-width: 6rem;
    img {
      max-width: 6rem;
      max-height: 6rem;
    }
  }

  ion-thumbnail[item-start] {
    min-width: 0;
    min-height: 0;
    max-height: 4rem;
    max-width: 4rem;
    img {
      max-width: 4rem;
      max-height: 4rem;
    }
  }

}
