<ion-header>
  <ion-navbar no-padding>
    <ion-title text-center>{{'Cheerleaders' | trans}}</ion-title>
    <!--
    <ion-buttons end>
      <button class="my-player-btn-right" ion-button>
        <img class="share-icon" src="assets/img/cheering-team/share.png"/>
      </button>
    </ion-buttons>
-->

  </ion-navbar>
</ion-header>
<ion-content>
  <div class="cheering-team-type">

    <ion-row class="baby-info-row">
      <div class="speaker">
      <span>
        <img src="assets/img/cheering-team/speaker.png"/>
        <span class="info-text">{{approvedCheerleaders?.length}} {{'Cheerleadersavailable' | trans}}</span>
      </span>
      </div>
    </ion-row>
    <ion-row class="baby-become-row">
      <ion-col width-50 no-margin>
        <!--<div class="speaker">-->
          <!---->
          <!--<span><img src="assets/img/cheering-team/speaker.png"/>{{approvedCheerleaders?.length}} {{'Cheerleadersavailable' | trans}}</span>-->
        <!--</div>-->
        <div class="baby-top-button">
          <button class="top-button"  ion-button icon-only small>
             <ion-icon name="eye"></ion-icon>
          </button>
          <p no-margin text-center>{{ 'checkCheerLeaders'|trans }}</p>
        </div>
      </ion-col>
      <ion-col *ngIf="!amICheerleader" width-50 no-margin>
        <!--<div class="become" (click)="becomeCheerleader()">-->
          <!--<ion-icon name="football" class="football-icon"><span>{{'BecomeCheerleader' | trans}}</span></ion-icon>-->
        <!--</div>-->

        <div class="baby-top-button" (click)="becomeCheerleader()">
          <button class="top-button"  ion-button icon-only small>
            <ion-icon name="football" class="football-icon"></ion-icon>
          </button>
          <p no-margin text-center>{{'BecomeCheerleader' | trans}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="baby-row">
      <div *ngIf='playerService.isAdmin()' class="baby-admin">
        <ion-row *ngFor='let clrow of pendingCheerleaders | groupNPipe:2;let i = index' no-margin>
          <ion-col class="cheerleader-item" width-50 *ngFor='let clItem of clrow; let j = index'>
            <div *ngIf='clItem'>
              <ion-row class="item-row">
                <div class="baby-img-frame">
                  <button ion-button icon-only clear class="chat-logo" color="lightGrey" (click)="approve(clItem.id)">
                    <ion-icon name="lock"></ion-icon>
                  </button>
                  <img class="img" [src]="clItem.photoMedium">
                </div>
              </ion-row>
              <ion-row class="item-row">
                <div class="baby-status">
                  <ion-row>
                    <h3>{{clItem.name}}</h3>
                  </ion-row>
                </div>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-row>

    <div class="baby-row">
      <div *ngIf='afPendingSelf && (afPendingSelf | async)?.$exists()' class="baby-self" width-50 no-margin>
        <ion-row class="self-row">
          <div class="baby-img-frame">
            <img class="img" [src]="(afPendingSelf | async)?.photo">
          </div>
        </ion-row>
        <ion-row class="self-row">
          <div class="baby-status">
            <ion-row>
              <h3>{{'PendingforReview' | trans}}</h3>
            </ion-row>
          </div>
        </ion-row>
      </div>
    </div>

    <div class="baby-row">
      <ion-row *ngFor="let clrow of approvedGrid" no-margin>
        <ion-col class="cheerleader-item" width-50 *ngFor='let i of clrow'>
          <div *ngIf='approvedCheerleaders[i]'>
            <ion-row class="item-row">
              <div class="baby-img-frame">
                <button *ngIf="isUnlocked(approvedCheerleaders[i].id)" ion-button icon-only clear small class="chat-logo" color="primary" (click)="enterChatPage(approvedCheerleaders[i])">
                  <ion-icon name="md-chatbubbles"></ion-icon>
                </button>
                <button *ngIf="!isUnlocked(approvedCheerleaders[i].id)" ion-button icon-only clear small class="chat-logo" color="gYellow" (click)="unlockCheerleader(approvedCheerleaders[i])">
                  <ion-icon name="md-unlock"></ion-icon>
                </button>
                <img [src]="approvedCheerleaders[i].photoMedium">
              </div>
            </ion-row>
            <ion-row class="item-row">
              <div class="baby-status">
                <ion-row>
                  <h3>{{approvedCheerleaders[i].name}}</h3>
                </ion-row>
              </div>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!--<div *ngSwitchCase="'judge'">
      裁判
    </div>
    <div *ngSwitchCase="'player'">
      球员
    </div>-->
  </div>
</ion-content>
