page-cheering-team{

  font-size: 1.7rem;

  ion-header{

    ion-icon{
      color: #F2EDE7;;
    }
    ion-title{
      .toolbar-title{
        color:#F2EDE7;;
      }
    }
    .share-icon{
      max-width:2rem;
    }
  }

  .cheering-team-segment{

    ion-segment-button{
      ion-icon{
        font-size: 1.6rem !important;
      }
      span{
        font-size: 1.4rem;
        margin-left: 0.3rem;
      }
    }

  }
  .cheering-team-type{

    margin-top: 0.5rem;
    font-size:1.2rem;
    .TabbedPanelsTab {
      border: 1px solid #999;
      //width: 3.675rem;
      color: #888;
      text-align: center;
      padding: .325rem 0.1rem;
      outline: none !important;
      border-radius: 2rem;
      list-style-type: none;
      width: 85%;
      margin: 0 auto;
    }
    .baby-become-row{
      width:97%;
    }

    .speaker{

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      img{
        max-width:1.2rem;
      }
    }

    .become-col{
      background: rgba(249, 0, 32, 1);
      border-radius: 0.3rem;
        .become{
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        ion-icon{
          font-size:1.2rem;
        }
        span{
          font-size:1.2rem;
        }
      }
    }

    .baby-row{
        .cheerleader-item{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            .item-row{
              justify-content: center;
            }
        }
        .baby-admin{
            width: 100%;
            border-bottom: solid 1px #ffffff;
        }
        .baby-self{
            width: 100%;
            border-bottom: solid 1px #ffffff;
            padding-top: 1rem;
            padding-bottom: 1rem;
            .self-row{
                justify-content: center;
            }
        }
      .baby-img-frame{
        position:relative;
        height: 15rem;
        width: 15rem;
        .chat-shadow{
          position: absolute;
          background: grey;
          border-radius: 50%;
          width: 2.8rem;
          height: 2.8rem;
          top: 0.7rem;
          right: 0.7rem;
          }
        .chat-logo{
          position:absolute;
          top: 0em;
          right: 0.2em;
          //max-width: 1.8rem;
        }
        .img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .baby-status{
        width:15rem;
        h3{
            margin:0;
            font-size:1.4rem;
        }

        .eyes{
          font-size:1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          img{
            max-width:1rem;
          }
        }
        .prize{
          padding-right:0;
          text-align: right;
          color:rgba(249, 0, 32, 1);
        }
      }
    }
      
    

  }

}
