// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// global
$text-color:#F2EDE7;
$background-color: #171717;
$item-md-detail-push-show: true;

// toolbar
$toolbar-text-color: #888;
$toolbar-background: #222;
$toolbar-md-title-text-color: #888;
$toolbar-ios-title-text-color: #888;
//$segment-button-ios-text-color: color-contrast(#222, #0f0);

// tabs
$tabs-background: #222;
$tabs-tab-color-active: #0f0;
$tabs-md-tab-color-inactive: #888;
$tabs-ion-tab-color-inactive: #888;
$tabs-ios-tab-font-size: 10px;
$tabs-md-tab-font-size: 10px;

//alert
$alert-background-color:#444;
$alert-ios-background: #444;
$alert-md-background-color: #444;

$alert-ios-message-text-color: #555;
$alert-md-message-text-color: #555;

$alert-md-input-border-color: #888;
$alert-ios-input-border-color: #888;

$alert-radio-label-text-color: $text-color;
$alert-md-radio-label-text-color: $text-color;
$alert-ios-radio-label-text-color: $text-color;
$alert-radio-border-color-on:#fff;
$alert-radio-border-color-off:#888;

$alert-ios-sub-title-text-color: #fff;
$alert-button-text-color:#888;
//$alert-button-background-color-activated:#0f0;
$alert-input-border-color:#0f0;
//$alert-radio-label-text-color-checked:#fff;


// checkbox
$checkbox-md-icon-border-color-off: #888;

// divider
$item-md-divider-background: #222;
$item-ios-divider-background: #222;
$item-md-divider-color: #fff;
$item-ios-divider-color: #fff;



//$alert-ios-button-background-color-activated: #888;
$action-sheet-ios-button-background-activated: #222;
$alert-ios-message-text-color: #fff;
$alert-md-message-text-color: #fff;


// list
$list-md-activated-background-color: #222;
$list-ios-activated-background-color: #222;
$list-md-border-color: #888;
$list-ios-border-color: #888;

// item
$item-detail-push-show: true;

// refresher
$refresher-border-color: transparent;
$refresher-icon-color: #888;

// toggle
$toggle-md-handle-background-color-off: #888;
$toggle-md-handle-background-color-on: #00ef00;
$toggle-ios-handle-background-color-off: #222;
$toggle-ios-handle-background-color-on: #00ef00;
$toggle-ios-handle-background-color: #222;
$toggle-ios-background-color-off: #888;

// input
$text-input-ios-input-clear-icon-color: rgba(136,136,136,.5);

//fonts

//For Main page's Title
@font-face {
  font-family: 'U.S.S. Dallas Bold';
  font-style: normal;
  font-weight: normal;
  src: local('U.S.S. Dallas Bold'), url('../assets/fonts/ussdallasb.woff') format('woff');
}

//For Player's statistics
font-face {
    font-family: 'CMTattooDragon';
    src:url('../assets/fonts/webfonts_CMTattooDragon/CMTattooDragon.ttf.woff') format('woff'),
        url('../assets/fonts/webfonts_CMTattooDragon/CMTattooDragon.ttf.svg#CMTattooDragon') format('svg'),
        url('../assets/fonts/webfonts_CMTattooDragon/CMTattooDragon.ttf.eot'),
        url('../assets/fonts/webfonts_CMTattooDragon/CMTattooDragon.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #20bd16,
  secondary:    #32db64,
  danger:       #f53d3d,
  light:        #E0E0E0,
  lightGrey:    #888,
  dark:         #222,
  primary-text: #fff,
  sky:          #387ef5,
  gRed:         #db3236,
  gGreen:       #3cba54,
  gBlue:        #0F7AFE,
  gYellow:      #f4c20d,
  fBlue:        #3B589A,
  wGreen:       #80D43C,
  iPrimary:     #387ef5,
  primaryYello: #fcdb14,
  excellent:    #2eb24c,
  verygood:     #5bc16d,
  good:         #82d094,
  average:      #bfbfbf,
  poor:         #f09d73,
  verypoor:     #dc8454,
  extremelypoor:#e25e16,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";


