page-match-list {
  .card-background-page {
    ion-card {
      background-image: url("../assets/img/match/background.png");
      background-size: cover;
      background-position: center center;
      position: relative;
      text-align: center;
      height: 12rem;
      border-radius: 0px;
      /*
      padding-bottom: 10%;
      */
    }
    .card-title {
      position: absolute;
      top: 20%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-bottom-banner {
      position: absolute;
      width: 100%;
      bottom: 0px;
      right: 0px;
      .left {
        min-width: 80%;
        max-width: 80%;
        padding: 0px;
        .title {
          font-size: 80%;
          color: #f4c20d;
        }
        .info {
          font-size: 80%;
          color: #888;
          ion-icon {
            margin: auto 5px auto 0px;
          }
        }
      }
      .right {
        min-width: 20%;
        max-width: 20%;
        background: #20bd16;
      }
    }
  }
}
