<ion-header>
  <ion-navbar>
    <ion-title>{{'Me' | trans}}</ion-title>
    <!--ion-buttons end>
      <button ion-button (click)="goMessagesPage()">
        <ion-icon *ngIf="messageCount != 0" name="md-mail" color="primary"></ion-icon>
        <ion-icon *ngIf="messageCount == 0" name="md-mail-open"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <!-- Me -->
    <ion-item (click)="goEditPlayerPage()" detail-push>
      <ion-thumbnail item-left>
        <img [src]="player?.photo">
      </ion-thumbnail>
      <h2>{{ player?.name }}</h2>
    </ion-item>
    <ion-item *ngIf="!isCheerleader && (player)?.teamId" (click)="goSwitchTeamPage()" detail-push>
      <ion-thumbnail item-left>
        <img [src]="(team)?.logo">
      </ion-thumbnail>
      <h2>{{ team?.name }}</h2>
    </ion-item>
    <ion-item *ngIf="!isCheerleader && !player?.teamId" (click) = "joinTeam()">
      <ion-icon name="md-people" item-left color="gBlue"></ion-icon>
      {{'JoinTeam' | trans}}
    </ion-item>

    <!-- show pages -->
    <ion-item-divider *ngIf="!isCheerleader"></ion-item-divider>
    <ion-item *ngIf="!isCheerleader" (click)="goPlayerPage()" detail-push>
      <ion-icon name="md-aperture" item-left color="gGreen"></ion-icon>
      {{'starcard' | trans}}
    </ion-item>
    
    <!--<ion-item tappable *ngIf="!player?.teamId" (click) = "createTeam()">
      <ion-icon name="md-people" item-left color="gBlue"></ion-icon>
      {{'CreateTeam' | trans}}
    </ion-item>-->
    <ion-item *ngIf="!isCheerleader && (player)?.teamId" detail-push (click)="goTeamPage()">
      <ion-icon name="md-people" item-left color="gBlue"></ion-icon>
      {{'MyTeam' | trans}}
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item (click)="goFeedbackPage()"  detail-push>
      <ion-icon name="md-help" item-left color="gYellow"></ion-icon>
      {{'Feedback' | trans}}
    </ion-item>
    <ion-item tappable (click)="onLogout()">
      <ion-icon name="md-exit" item-left color="danger"></ion-icon>
      {{'Logout' | trans}}
    </ion-item>
  </ion-item-group>
</ion-content>
