<ion-header>
  <ion-navbar>
    <ion-title>{{'Me' | trans}}</ion-title>
    <!--ion-buttons end>
      <button ion-button (tap)="goMessagesPage()">
        <ion-icon *ngIf="messageCount != 0" name="md-mail" color="primary"></ion-icon>
        <ion-icon *ngIf="messageCount == 0" name="md-mail-open"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <!-- Me -->
    <ion-item (click)="goEditPlayerPage($event)" detail-push>
      <ion-thumbnail item-left>
        <img [src]="player?.photo">
      </ion-thumbnail>
      <h2>{{ player?.name }}</h2>
      <p item-right class="me-point-wrapper">
         <span class="points">
        {{ player?.points }}
         </span>
        <span class="points-text"> {{ 'points' | trans }}</span>
        <button ion-button icon-only (click)="personalPointsFAQ($event)" class="faq-button">
          <ion-icon name="help-circle" class="faq-icon"></ion-icon>
        </button>
      </p>
    </ion-item>
    <ion-item *ngIf="!isCheerleader && (player)?.teamId" (click)="goSwitchTeamPage()" detail-push>
      <ion-thumbnail item-left>
        <img [src]="(team)?.logo">
      </ion-thumbnail>
      <h2>{{ team?.name }}</h2>
      <p item-right class="me-point-wrapper">
        <span class="points">
        {{ team?.points }}
        </span>
        <span class="points-text">{{ 'points' | trans }}</span>
        <button ion-button icon-only (click)="teamPointsFAQ($event)" class="faq-button">
          <ion-icon name="help-circle" class="faq-icon"></ion-icon>
        </button>
      </p>
    </ion-item>
    <!--ion-item *ngIf="!isCheerleader && !player?.teamId" (tap) = "joinTeam()">
      <ion-icon name="md-people" item-left color="gBlue"></ion-icon>
      {{'JoinTeam' | trans}}
    </ion-item-->

    <!-- show pages -->
    <!--ion-item-divider *ngIf="!isCheerleader"></ion-item-divider>
    <ion-item *ngIf="!isCheerleader" (tap)="goPlayerPage()" detail-push>
      <ion-icon name="md-aperture" item-left color="gGreen"></ion-icon>
      {{'starcard' | trans}}
    </ion-item-->

    <!--<ion-item tappable *ngIf="!player?.teamId" (tap) = "createTeam()">
      <ion-icon name="md-people" item-left color="gBlue"></ion-icon>
      {{'CreateTeam' | trans}}
    </ion-item>-->
    <!--ion-item *ngIf="!isCheerleader && (player)?.teamId" detail-push (tap)="goTeamPage()">
      <ion-icon name="md-people" item-left color="gBlue"></ion-icon>
      {{'MyTeam' | trans}}
    </ion-item-->

    <ion-item-divider></ion-item-divider>
    <ion-item (tap)="goFeedbackPage()"  detail-push>
      <ion-icon name="notifications" item-left color="gBlue"></ion-icon>
      {{'Feedback' | trans}}
    </ion-item>
    <ion-item (tap)="openFAQPage()"  detail-push>
      <ion-icon name="md-help" item-left color="gYellow"></ion-icon>
      {{'help' | trans}}
    </ion-item>
    <ion-item tappable (tap)="onLogout()">
      <ion-icon name="md-log-out" item-left color="danger"></ion-icon>
      {{'Logout' | trans}}
    </ion-item>

    <!--<ion-item (tap) = "migrateData()">migrate data</ion-item>-->
  </ion-item-group>
</ion-content>
