.points-faq-popover{
  .popover-content{
    background: white !important;
    color: #1f1f21 !important;
  }
}


page-me {
  ion-thumbnail[item-left] {
    min-width: 0;
    min-height: 0;
    max-height: 4rem;
    max-width: 4rem;
    img {
      max-width: 4rem;
      max-height: 4rem;
    }
  }

  .me-point-wrapper{
    display: flex;
    align-items: center;
    .faq-button{
      background-color: transparent;
      .faq-icon{
        font-size: 2rem;
        margin-right: 1rem;
      }
    }

    .points{
      margin-right: 0.5rem;
    }
    .points-text{
      margin-right: 0.5rem;
    }
  }
}
