<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Messages' | trans }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="message-panel">

    <no-record *ngIf="!hasMessage()" [message]="noRecordMessage"></no-record>
    <ion-item-sliding *ngFor="let msg of messages | reversePipe" #slidingItem>
      <ion-item (tap)="enterChatPage(msg)">
        <ion-thumbnail item-left>
          <img [src]="getPlayerInfo(msg.playerId)?.photo">
        </ion-thumbnail>
        <h2 class="sender-name">{{ getPlayerInfo(msg.playerId)?.name }}</h2>
        <p>{{ msg.lastContent }}</p>
        <ion-note item-right text-right>
          <p>{{ msg.lastTimestamp | momentPipe }}</p>
          <ion-badge *ngIf="msg.isUnread" color="gBlue">New</ion-badge>
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" text-capitalize  (tap)="deleteMessage(msg.playerId, slidingItem)">
          {{ 'delete' | trans }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
