<ion-header>
  <ion-navbar no-padding>
    <ion-title text-center>{{'TeamInfo' | trans}}</ion-title>
    <ion-buttons end>
      <button ion-button class="my-team-btn-right" (click)="invitePlayer()">
        <ion-icon name="md-person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-background-page">

  <div class="content-top">
    <img [src]="team?.logo" class="thumbnail-img" />
    <h6 class="team-name default-font-size-h6">{{team.name}}</h6>
    <!--<p class="team-place default-font-size-p">阿根廷&nbsp;|&nbsp;纪念碑球场</p>-->
    <p class="team-place default-font-size-p">&nbsp;&nbsp;</p>
    <div class="team-right-item">
      <p class="team-right-item-text">{{team.popularity}}</p>
      <div class="team-right-item-bottom">
        <img src="assets/icon/fire.png" class="team-right-item-bottom-img">
        <a class="team-right-item-bottom-text">{{'Popularity' | trans}}</a>
      </div>
    </div>

    <div class="team-right-item">
      <p class="team-right-item-text">{{team.ability}}</p>
      <div class="team-right-item-bottom">
        <img src="assets/icon/football.png" class="team-right-item-bottom-img">
        <a class="team-right-item-bottom-text">{{'Ability' | trans}}</a>
      </div>
    </div>

    <div class="team-brief-info">
        <ion-row >
      <ion-col class="default-font-color default-font-size-col">{{'YearBuilt' | trans | uppercase}}</ion-col>
      <ion-col class="hidden age-label default-font-color default-font-size-col">平均年龄</ion-col>
      <ion-col class="hidden age-gap-label default-font-color default-font-size-col">年龄跨度</ion-col>
      <ion-col class="hidden clothes-color-label default-font-color default-font-size-col">队服颜色</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="white default-font-size-col">{{team?.yearBuilt}}</ion-col>
      <ion-col class="hidden age white default-font-size-col">27</ion-col>
      <ion-col class="hidden age-gap white default-font-size-col">6</ion-col>
      <ion-col class="hidden clothes-color white default-font-size-col">蓝</ion-col>
    </ion-row>
        </div>
  </div>

  <ion-list class="subtitle no-margin">
    <ion-item color="dark">
      <button ion-button item-left clear class="subtitle-text">{{'UpcomingMatches' | trans}}</button>
      <button ion-button item-right icon-right clear class="subtitle-text-small" (click)="seeMoreTeamGamePlan()">
        {{'ViewAll' | trans}}
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

<div *ngIf = "matches?.length > 0" (click) = "showUpcomingMatch()">
  <button ion-button full class="nearest-game-time default-font-color">
    {{upcomingMatch?.time | date:'medium'}}
  </button>

  <div class="nearest-game-display">
    <div class="game-left">
      <div class="game-left-setting">
        <img [src]="upcomingMatch?.home?.logo" class="game-left-img">
        <p class="game-left-text">{{upcomingMatch?.home?.name}}</p>
      </div>
    </div>
    <div class="game-center">
      <p class="game-score">{{upcomingMatch?.homeScore}}:{{upcomingMatch?.awayScore}}</p>
    </div>
    <div class="game-right">
      <div class="game-right-setting">
        <img [src]="upcomingMatch?.away?.logo" class="game-right-img">
        <p class="game-right-text">{{upcomingMatch?.away?.name}}</p>
      </div>
    </div>
  </div>
</div>

  <ion-list class="no-margin">
    <ion-item class="subtitle">
      <button ion-button item-left clear class="subtitle-text">{{'WholeSeasonRecord' | trans}}</button>
    </ion-item>
  </ion-list>

  <ion-row class="team-info-title">
    <ion-col class="team-info-title-setting">{{'Year' | trans}}</ion-col>
    <ion-col class="team-info-title-setting">{{'Played' | trans}}</ion-col>
    <ion-col class="team-info-title-setting">{{'W' | trans}}</ion-col>
    <ion-col class="team-info-title-setting">{{'D' | trans}}</ion-col>
    <ion-col class="team-info-title-setting">{{'L' | trans}}</ion-col>
    <ion-col class="team-info-title-setting">{{'GF' | trans}}</ion-col>
    <ion-col class="team-info-title-setting">{{'GA' | trans}}</ion-col>
  </ion-row>

  <ion-row *ngFor='let history of team?.yearlyHistory' class="team-info-content">
    <ion-col class="team-info-content-setting">{{history?.year}}</ion-col>
    <ion-col class="team-info-content-setting">{{history?.total_matches}}</ion-col>
    <ion-col class="team-info-content-setting">{{history?.win}}</ion-col>
    <ion-col class="team-info-content-setting">{{history?.draw}}</ion-col>
    <ion-col class="team-info-content-setting">{{history?.lose}}</ion-col>
    <ion-col class="team-info-content-setting">{{history?.GF}}</ion-col>
    <ion-col class="team-info-content-setting">{{history?.GA}}</ion-col>
  </ion-row>

  <button ion-button full class="nearest-5-game-result-title default-font-color">
    {{'Recent5Matches' | trans}}
  </button>

  <ion-row class="nearest-5-game-result-content">
    <ion-col *ngFor="let result of team.last_5" class="nearest-5-game-result-content-item">
      <div class="nearest-5-game-background" [ngStyle]="getCircleBkColor(result)"></div>
      <div class="nearest-5-game-top"></div>
      <p class="nearest-5-game-result" [ngStyle]="getCircleTextColor(result)">{{result | trans}}</p>
    </ion-col>
  </ion-row>

  <ion-list class="no-margin">
    <ion-item class="subtitle">
      <button ion-button item-left clear class="subtitle-text">{{'Players' | trans}}</button>
    </ion-item>
  </ion-list>


  <div class="team-member-info">
    <ion-row class="team-member-display">
      <ion-col *ngFor="let p of players?.slice(0,3)">
        <img [src]="p?.photo" class="team-member-img">
        <p class="team-member-name">{{p.name}}</p>
      </ion-col>
    </ion-row>
    <button ion-button clear icon-right class="team-see-more-members" (click)="seeMoreTeamMember()">
      <p class="team-see-more-member-text">{{'ViewAll' | trans}}(<a style="color: #00ff00;">{{team.totalPlayers}} </a>{{'Players' | trans | lowercase}})</p>
<ion-icon name="ios-arrow-forward"></ion-icon>
</button>
</div>

<ion-list class="no-margin">
  <ion-item class="subtitle">
    <button ion-button item-left clear class="subtitle-text">{{'Records' | trans}}</button>
  </ion-item>
</ion-list>
<ion-row class="team-all-game">
  <ion-col id="recent15" class="team-all-game-choose" (click)="setChoosePosition(0)">
    <p id="btn-recent-15" class="recent-tab-button white">{{'Recent15matches' | trans}}</p>
  </ion-col>
  <ion-col id="recent20" class="team-all-game-unchoose" (click)="setChoosePosition(1)">
    <p id="btn-recent-20" class="recent-tab-button">{{'Recent30matches' | trans}}</p>
  </ion-col>
  <ion-col id="all" class="team-all-game-unchoose" (click)="setChoosePosition(2)">
    <p id="btn-all" class="recent-tab-button">{{'all' | trans}}</p>
  </ion-col>
</ion-row>
<ion-row style="height: 2px;padding: 0px;">
<ion-col id="firstLine" class="yellow-line"></ion-col>
<ion-col id="secondLine" class="gray-line"></ion-col>
<ion-col id="thirdLine" class="gray-line"></ion-col>
</ion-row>

<div class="team-success-fail-data">
  <ion-row>
    <ion-col class="col-30"></ion-col>
    <ion-col class="col-40">
      <round-progress [current]="currTeamStat?.rate * 100" [max]=100 [color]="'#'+'00ff00'" [background]="'#'+'a0a0a0'" [radius]="125"
        [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"></round-progress>
      <!--<div text-center class="win-rate-text">{{currTeamStat?.rate * 100}}</div>-->
    </ion-col>
    <ion-col class="col-30"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="recent-game-result">{{currTeamStat?.total_matches}}</ion-col>
    <ion-col class="recent-game-result">{{currTeamStat?.win}}</ion-col>
    <ion-col class="recent-game-result">{{currTeamStat?.draw}}</ion-col>
    <ion-col class="recent-game-result">{{currTeamStat?.lose}}</ion-col>
    <ion-col class="recent-game-result">{{currTeamStat?.avgGA}}</ion-col>
    <ion-col class="recent-game-result">{{currTeamStat?.avgGF}}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="recent-game-result-name">{{'Played' | trans}}</ion-col>
    <ion-col class="recent-game-result-name">{{'W' | trans}}</ion-col>
    <ion-col class="recent-game-result-name">{{'D' | trans}}</ion-col>
    <ion-col class="recent-game-result-name">{{'L' | trans}}</ion-col>
    <ion-col class="recent-game-result-name">{{'avgga' | trans}}</ion-col>
    <ion-col class="recent-game-result-name">{{'avggf' | trans}}</ion-col>
  </ion-row>
</div>


<ion-list *ngIf='matches && mostGFMatchId' no-lines="true" class="game-data-assist">
  <ion-item class="game-data-assist-item">
    <div item-left class="goal-title">{{'maxgf' | trans}}</div>
    <div item-right>
      <p class="goal-data">{{matchService.getMatch(mostGFMatchId)?.homeScore}} : {{matchService.getMatch(mostGFMatchId)?.awayScore}}</p>
      <p class="goal-data-detail">{{matchService.getMatch(mostGFMatchId)?.home?.name}} VS {{matchService.getMatch(mostGFMatchId)?.away?.name}} / {{matchService.getMatch(mostGFMatchId)?.date | date:'mediumDate'}}</p>
    </div>
  </ion-item>
  <ion-item *ngIf='matches && mostGAMatchId' class="game-data-assist-item">
    <div item-left class="goal-title">{{'maxga' | trans}}</div>
    <div item-right>
      <p class="goal-data">{{matchService.getMatch(mostGAMatchId)?.homeScore}} : {{matchService.getMatch(mostGAMatchId)?.awayScore}}</p>
      <p class="goal-data-detail">{{matchService.getMatch(mostGAMatchId)?.home?.name}} VS {{matchService.getMatch(mostGAMatchId)?.away?.name}} / {{matchService.getMatch(mostGAMatchId)?.date | date:'mediumDate'}}</p>
    </div>
  </ion-item>
  <ion-item class="game-data-assist-item">
    <div item-left class="goal-title-2">{{'maxvictory' | trans}}</div>
    <div item-right>
      <p class="goal-data">{{team?.overall?.win_streak}}</p>
    </div>
  </ion-item>
  <ion-item class="game-data-assist-item">
    <div item-left class="goal-title-2">{{'maxlose' | trans}}</div>
    <div item-right>
      <p class="goal-data">{{team?.overall?.lose_streak}}</p>
    </div>
  </ion-item>
  <ion-item class="game-data-assist-item">
    <div item-left class="goal-title-2">{{'mostundefeated' | trans}}</div>
    <div item-right>
      <p class="goal-data">{{team?.overall?.draw_streak}}</p>
    </div>
  </ion-item>
  <ion-item class="game-data-assist-item no-margin">
    <div item-left class="goal-title-2 no-margin">{{'mostcleansheets' | trans}}</div>
    <div item-right class="no-margin">
      <p class="goal-data no-margin">{{team?.overall?.noGA_streak}}</p>
    </div>
  </ion-item>
</ion-list>

<!--<div class="team-best-member-padding">
  <button ion-button full class="nearest-5-game-result-title no-margin no-padding default-font-color">
      最佳球员排名
    </button>
</div>
<ion-list no-lines="true" class="team-best-member-info no-margin no-padding">

  <ion-item class="team-best-member-award-title">
    <img src="assets/icon/b2.png" item-left class="award-img">
    <p class="award-title"> 射手王</p>
  </ion-item>

  <ion-item class="team-best-member-award-people">
    <img src="assets/img/icon1.jpg" class="left-image" item-left>
    <ion-row>
      <ion-col>
        <ion-row class="award-team-member-name">梅西</ion-row>
        <ion-row class="award-team-member-score">6球</ion-row>
      </ion-col>
      <ion-col>
        <p class="right-info">
          <span class="white-big">9</span>
          <span class="small-text">出场</span> |
          <span class="white-big">&nbsp;23</span>
          <span class="small-text"> 进球</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-item>


  <ion-item class="team-best-member-award-title">
    <img src="assets/icon/b3.png" item-left class="award-img">
    <p class="award-title"> 助攻王</p>

  </ion-item>
  <ion-item class="team-best-member-award-people">
    <img src="assets/img/icon1.jpg" class="left-image" item-left>
    <ion-row>
      <ion-col>
        <ion-row class="award-team-member-name">梅西</ion-row>
        <ion-row class="award-team-member-score">6球</ion-row>
      </ion-col>
      <ion-col>
        <p class="right-info">
          <span class="white-big">9</span>
          <span class="small-text">出场</span> |
          <span class="white-big">&nbsp;23</span>
          <span class="small-text"> 进球</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item class="team-best-member-award-title">
    <img src="assets/icon/b4.png" item-left class="award-img">
    <p class="award-title"> MVP</p>
  </ion-item>

  <ion-item class="team-best-member-award-people no-margin">
    <img src="assets/img/icon1.jpg" class="left-image" item-left>
    <ion-row>
      <ion-col>
        <ion-row class="award-team-member-name">梅西</ion-row>
        <ion-row class="award-team-member-score">6球</ion-row>
      </ion-col>
      <ion-col>
        <p class="right-info">
          <span class="white-big">9</span>
          <span class="small-text">出场</span> |
          <span class="white-big">&nbsp;23</span>
          <span class="small-text"> 进球</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>-->
</ion-content>