
<!--    <ion-item-divider>{{ 'share' | trans }}</ion-item-divider>-->
  <div *ngIf="squadNumber == 5">
     
    <ion-row class="squad-select-row" *ngFor="let rItem of sampleFiveList | groupNPipe:3; let i = index;">
      <ion-col class="squad-select-col" width-33 *ngFor="let cItem of rItem; let j = index;">
      
        <button *ngIf='cItem' color="light" class="btn grey thick">
           {{cItem}}
        </button>
      </ion-col>
     
    </ion-row>
    
</div>
    
    <div *ngIf="squadNumber == 7">
     
    <ion-row class="squad-select-row" *ngFor="let rItem of sampleSevenList | groupNPipe:3; let i = index;">
      <ion-col class="squad-select-col" width-33 *ngFor="let cItem of rItem; let j = index;">
      
        <button *ngIf='cItem' color="light" class="btn grey thick">
           {{cItem}}
        </button>
      </ion-col>
     
    </ion-row>
    
</div>
    
    <div *ngIf="squadNumber == 11">
     
    <ion-row class="squad-select-row" *ngFor="let rItem of sampleElevenList | groupNPipe:3; let i = index;">
      <ion-col class="squad-select-col" width-33 *ngFor="let cItem of rItem; let j = index;">
      
        <button *ngIf='cItem' color="light" class="btn grey thick">
           {{cItem}}
        </button>
      </ion-col>
     
    </ion-row>
    
</div>
