<ion-grid no-padding>
  <ion-row (click)="goMatchDetailPage()">
    <ion-col class="matches-info" no-padding>
      <ion-item class="team-bar">
        <ion-thumbnail item-left>
          <img [src]="match?.home?.logo">
        </ion-thumbnail>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding class="team-name">
              {{ match?.home?.name }}
            </ion-col>
            <ion-col no-padding width-10 class="team-score">
              {{ match?.homeScore }}
            </ion-col>
            <!--<ion-col *ngIf="match?.isStarted()" no-padding width-10 class="team-score">
              {{ match?.homeScore }}
            </ion-col>
            <ion-col *ngIf="!match?.isStarted()" no-padding width-10 class="team-score">
              not started
            </ion-col>-->
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="team-bar">
        <ion-thumbnail item-left>
          <img [src]="match?.away?.logo">
        </ion-thumbnail>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding class="team-name">
              {{ match?.away?.name }}
            </ion-col>
            <ion-col *ngIf="match?.isStarted" no-padding width-20 class="team-score">
              {{match?.awayScore}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-col>
    <ion-col class="matches-time">
      <div class="matches-time-wrapper">
        <ion-item>
          <p>{{ match?.time | numberToTimePipe }}</p>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-item>
          <button *ngIf="canUpdate()" class="detail-button" text-center ion-button clear (click)="goUpdateMatchPage($event)">Update</button>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>