sb-match-basic {
  .matches-info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    font-size: 0.345em;
    .team-bar {
      padding-left: 0.5em;
      /*ion-img {
        max-width: 1.5em;
        max-height: 1.5em;
        border-radius: 50%;
      }*/
      ion-thumbnail[item-left] {
        margin: 5px;
        min-width: 0;
        min-height: 0;
        max-height: 3rem;
        max-width: 3rem;
        img {
          max-width: 3rem;
          max-height: 3rem;
        }
        //min-height: 1.8em;
        //min-width: 1.8em;
      }
      .team-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 75%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
      }
      .team-score {
        font-size: 75%;
        line-height: 1;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 15%;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
      }
      .item-inner {
        border-bottom: none;
      }
      .item {
        min-height: 2em;
      }
    }
  }
  .match-time-text {
    font-size: 75%;
    width: 100%;
    text-align: center;
  }
  /*
  .matches-time {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .matches-time-wrapper {
      .item {
        min-height: 2.2em;
        font-size: 75%;
      }
      .item-inner {
        border-bottom: none;
      }
      ion-label {
        margin: 0;
        text-align: center;
      }
      .detail-button {
        display: block;
        margin: 0;
      }
      .update-button {
        display: block;
        margin: 0;
        top: -0.5em;
      }
    }
  }
  */
}
