<ion-grid *ngIf="match?.dataReady" no-padding>
  <ion-row (tap)="goMatchDetailPage()">
    <ion-col class="matches-info" no-padding>
      <ion-item class="team-bar">
        <ion-thumbnail item-start>
          <img [src]="match?.home?.logo">
        </ion-thumbnail>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding class="team-name">
              {{ match?.home?.name }}
            </ion-col>
            <ion-col no-padding width-10 class="team-score" center>
              {{ match?.homeScore }}
              <span *ngIf="match?.homePenalty>=0">&nbsp;({{match?.homePenalty}})</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="team-bar">
        <ion-thumbnail item-start>
          <img [src]="match?.away?.logo">
        </ion-thumbnail>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding class="team-name">
              {{ match?.away?.name }}
            </ion-col>
            <ion-col *ngIf="match?.isStarted" no-padding width-20 class="team-score">
              {{match?.awayScore}}
              <span *ngIf="match?.awayPenalty>=0">&nbsp;({{match?.awayPenalty}})</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-col>
    <ion-col center class="time-extra-info-panel">
      <ion-row style="margin-top: 25px">
        <p class="match-time-text">{{ match?.time | numberToTimePipe }}</p>
      </ion-row>
      <ion-row *ngIf="match && match.groupId" class="groupIdLabel">
        {{'group' | trans}} {{match.groupId}}
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
