<ion-header>
  <ion-navbar>
    <ion-title>{{'Players' | trans}}</ion-title>
    <ion-buttons left *ngIf="showClose">
      <button (click)="close()" color='danger' ion-button icon-only clear>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf='selectPlayersMode' right>
      <button color='primary' (click) = 'dismiss()' ion-button clear>
        {{'OK' | trans}}
      </button>
    </ion-buttons> 
  </ion-navbar>
  <ion-searchbar (ionInput)="filterPlayers($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let player of filteredPlayers" (click)="selectPlayer(player.id)">
      <ion-label *ngIf='selectPlayersMode'>{{ player.name }}</ion-label>
      <ion-checkbox *ngIf='selectPlayersMode' color="primary" style="margin-right: 10px"
      [checked] = 'selectedPlayersMap[player.id]'
      (ionChange)="onSelectionChange(player.id, $event)"></ion-checkbox>
      <ion-avatar item-start>
        <img [src] = "player.photo"/>
      </ion-avatar>
      {{ player.name }}
    </ion-item>
  </ion-list>
</ion-content>