<ion-header>
  <ion-navbar>
    <ion-title>{{'squad' | trans}}</ion-title>
    <ion-buttons left>
      <button *ngIf="selectMode" (click)="close()" color = 'danger' ion-button icon-only clear>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button *ngIf="!selectMode" (click)="createSquad()" ion-button icon-only>
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-card no-padding no-margin>
    <img class="card-banner-img" src="assets/img/manage-squad/manage-squad-banner.jpg"/>
    <div class="card-title">{{bannelTitle | trans}}</div>
    <div class="card-subtitle">{{bannelSubtitle | trans}} {{team?.name}}</div>
  </ion-card>
  <ion-list class="container">
    <ion-item-sliding *ngFor="let squad of team.squads">
      <ion-item (click)="onClickSquad(squad)">
        <!--<ion-avatar item-left>-->
          <!--<img src="assets/img/none.png">-->
        <!--</ion-avatar>-->
        <div class="numberCircle" item-left [ngClass]="{'vs5': getSquadNumber(squad.formation) === 5, 'vs7': getSquadNumber(squad.formation) === 7, 'vs11': getSquadNumber(squad.formation) === 11}">{{getSquadNumber(squad.formation)}}</div>
        <h2>{{squad.name}}</h2>
        <p>{{squad.formation}}</p>
        <p>{{'creator' | trans}}: {{playerService.getPlayer(squad.creator)?.name}}</p>
      </ion-item>
      <ion-item-options *ngIf="!selectMode" side="right">
        <button color='danger' [disabled]="squad.creator !== playerService.selfId()" ion-button icon-only clear (click)="deleteSquad(squad.$key)">
          <ion-icon name='trash' item-right></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
